.delivery-services{
    text-align: center;
}

.delivery-services img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    padding:2%;
    min-height:150px;
    z-index: 2;
    position: relative;
    top:-300px;
}

.delivery-services>div{
margin-top:10%;
margin-bottom:10%;
border-top: solid white 2px;
   // border-bottom:solid white 2px;
    width: 100%;
    margin: auto;
}

// .delivery-services>div:first-child{
// margin-top:10%;
// }

#bs{
    background-image:url('../images/menu-banner2.jpg');
    background-size:cover;
    background-position: center;
    height:300px;

}

#pm{
    background-image:url('../images/possiblebanner.jpg');
    background-size:cover;
    background-position: center;
    height:300px;
}

#ue{
    background-image:url('../images/scrollthru5.jpg');
    background-size:cover;
    background-position: center;
    height:300px;
}

#dd{
    background-image:url('../images/scrollthru4.jpg');
    background-size:cover;
    background-position: center;
    height:300px;
}

#bs .delivery-overlay{
    background:black;
    opacity:.5;
    height:298px;
    position: relative;
    left:0;
    top:0px;
    z-index: 1;
    display: table;
    width:100%;
}

#pm .delivery-overlay{
    background:white;
    opacity:.5;
    height:298px;
    position: relative;
    left:0;
    top:0px;
    z-index: 1;
    display: table;
    width:100%;
}

#dd .delivery-overlay{
    background:black;
    opacity:.5;
    height:298px;
    position: relative;
    left:0;
    top:0px;
    z-index: 1;
    display: table;
    width:100%;
}

#ue .delivery-overlay{
    background:white;
    opacity:.5;
    height:298px;
    position: relative;
    left:0;
    top:0px;
    z-index: 1;
    display: table;
    width:100%;
}


