//Delivery images
@media screen and (max-width: 900px){
    .delivery-services img{
        width:750px;
        min-width:750px;
    }
}

@media screen and (max-width: 900px)and(orientation: landscape)
{
    .delivery-services img{
        top:-28vw;
        width:100%;
        min-width:0px;
    }
}
@media screen and (max-width: 900px)and(orientation: landscape)
{
    .delivery-services img{
        top:-30vw;
    }
}

@media screen and (max-width: 700px)and(orientation: landscape)
{
    .delivery-services img{
        top:-32vw;
    }
}

@media screen and (max-width: 600px)and(orientation: landscape)
{
    .delivery-services img{
        top:-35vw;
    }
}
@media screen and (max-width: 768px)and(orientation: portrait)
{
    #bs, #pm, #ue, #dd{
        height:75vh;
    }
    #bs .delivery-overlay, #dd .delivery-overlay,#pm .delivery-overlay, #ue .delivery-overlay{
        height:74.75vh;
    }
    [data-is=ubereats]{
        content: url('../images/delivery/ms-ubereats.png');
      }
    [data-is=bitesquad]{
        content: url('../images/delivery/ms-bitesquad.png');
     }
     [data-is=postmates]{
        content: url('../images/delivery/ms-postmates.png');
    }
     [data-is=doordash]{
        content: url('../images/delivery/ms-doordash.png');
     }
    .delivery-services img{
        min-width:0px;
        top:-90%;
        width:70vw;
        height:70vw;
    }
}
@media screen and (max-width: 600px)and(orientation: portrait)
{
    .delivery-services img{
        top:-80%;
    }
 
}
@media screen and (max-width: 500px)and(orientation: portrait)
{
    .delivery-services img{
        top:-75%;
    }
}


//Modal
@media screen and (max-width: 600px)and(orientation: portrait)
{
   
    .modal-dialog-centered{
        width:50vw;
        margin-left:auto;
        margin-right:auto;
    }
    .mid-modal h1{

        font-size:2.25vw;
        width:80%;
       

    }
    .mid-modal{
        height:250px;
    }
    .unavailable{
height:100%;
        font-size: 2vw;

        display: flex;
    -webkit-box-align: center;
    }
    .modal-slp p, .modal-edina p{
        font-size: 2vw;
        margin-top:3%;
        
    }
}
