.content-container{
    background-color:yellow;
}
.delivery-services{
    text-align: center;
}

.delivery-services img{
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    width:50%;
    padding:2%;
    height:250px;
    position: relative;
    top:-250px;
    display:block;
}
.delivery-services img:hover{
    cursor: pointer;
}

#bs{
    background-image:url('../images/menu-banner2.jpg');
}

#pm{
    background-image:url('../images/possiblebanner.jpg');
}

#ue{
    background-image:url('../images/scrollthru5.jpg');
}

#dd{
    background-image:url('../images/scrollthru4.jpg');
}
#bs, #pm, #ue, #dd{
    background-size:cover;
    background-position: center;
    height:250px;
    border-top: solid white 5px;
}
#bs .delivery-overlay, #dd .delivery-overlay,#pm .delivery-overlay, #ue .delivery-overlay{
    opacity:.5;
    height:245px;
    position: relative;
    left:0;
    top:0;
    display: table;
    width:100%;

}

#pm .delivery-overlay, #ue .delivery-overlay{
    background:white;

}

#bs .delivery-overlay, #dd .delivery-overlay{
    background:black;

}




//modal
.modal{
    background: rgba(0, 0, 0, 0.9); 
}

.modal-body{
    display: flex;
    justify-content: center;

}

.modal-dialog{
    max-width: 60%;
    height:700px;
}
.modal-dialog,
.modal-content {
    color:white;
    background-color: transparent!important;
    height: 40%;
    padding:0px!important;
    border:none!important;
 
}
.modal-slp, 
.modal-edina{
    text-align: center;
    height:150px;
    float: left;
    width:35%;
}

.modal-slp p, .modal-edina p{
    width:50%;
    margin-left:25%;
    position: relative;
    top:-55px;
}
a[href$='none']{
    opacity:.2;
    pointer-events: none;
}
.unavailable{
   display: none;
    position: absolute;
    top:10px;
}

.icon-background6 {
    width:100px;
    color: $rkuRed;
}

.modal h3{
    font-family: 'Rock Salt', cursive;
    position:relative;
    top:-80px;
    left:0px;
}
.mid-modal{
    font-family: 'Rock Salt', cursive;
    width:10%;
    float: left;
    text-align: center;
    height:150px;
    margin-top:50px;
}
.closeButton{
    @extend %buttons;
}
.closeButton:hover{
    cursor: pointer;
    color:$rkuRed;
}