#loader-footer{
    clear:both;
}

#loader-footer .hd-ft-bar{
   // padding-bottom:30px;
}

.social-media{
    width:30%;
    float:left;
}

.copyright{
    width:40%;
    float:left;
    text-align: left;
    padding-left:3%;
}

.fab{
    margin-left:5%;
    align-content: right;
    width: 50px;
}

.fab:hover{
   @extend %iconHover;
}

.margarita{
    text-align: center;
    width:30%;
    float: left;

}
.margarita img{
    width:25px;
    float: right;
    margin-right:45%;
    margin-top:5px;
    transition-duration: 1.5s;
}

.margarita img:hover{
    width:30px;
}