#loader-footer{
    clear:both;
    width:100%;
}

#loader-footer .hd-ft-bar{
    padding-bottom:20px;
}

.social-media{
    width:30%;
    float:left;
}

.copyright{
    width:40%;
    float:left;
    text-align: center;
    padding-left:3%;
}

.fab{
    margin-left:5%;
    align-content: right;
    width: 50px;
}

.fab:hover{
   @extend %iconHover;
}

#hand-print img{
    width:25px;
    float: right;
    margin-right:45%;
    margin-top:5px;
    transition-duration: 1.5s;
}

#hand-print img:hover{
    width:30px;
}

#created{
    width:10%;
    float: left;
    text-align: right;
}

#hand-print{
    width:10%;
    float: left;
}