.home-aboutus{
    width:100%;
    text-align: center;
    margin-top:10vh;
}

.home-aboutus h2{  
    @extend %headerStyle;
    color:black;
    border-color:$rkuRed;
    border-width:1px;
}
.aboutus-wrapper{
    margin-top:5%;
    width:90%;
    border-top:solid gray 1px;
    border-bottom: solid gray 1px;
    margin-bottom:10%;
    float: left;
    margin-left:5%;
    overflow: hidden;
}


.panel{
    text-align: center;
}
.panel p{
    margin-top:25%;
    width:70%;
    margin-left:15%;
}

.left-side{
    width:25%;
    float: left;
    transform: translateX(-100%);
    transition: transform 1s ease-in;
}

.left-side-new{
    transform: translateX(0);
}
.right-side{
    width:25%;
    float: left;
    transform: translateX(100%);
    transition: transform 1s ease-in;
}
.right-side-new{
    transform: translateX(0);
}
.middle{
    width: 50%;
    float: left;
}
.overlay-about{
    width:90%;
}

.overlay-header{
    position:relative;
    background-color:$rkuRed;
    width:100%;
    height:350px;
    color:$wht;
    opacity: .7;
    transition: opacity .5s;
    transition-duration: 3.5s;
    margin-top:1%;
    margin-bottom:1%;
}

.test{
    border:solid 1px white;
    width:90%;
    height:80%;
    position: relative;
    margin: auto;
    top:10%;
}

.test2{
    border:solid 10px $rkuRed;
    border-radius: 85px;
    width:102%;
    height:104%;
    position: absolute;
    margin: auto;
    top:-5px;
    left:-5px;
}

.overlay-header h3{
    text-align: center;
    letter-spacing:6pt;
    position:relative;
    top:50%;
  
    
}

.disappear{
    opacity:0;
}
.image1{
    width:100%;
    background-image:url("../images/sushi11.jpg");
    background-size:100% 100%;
}
.image2{
    width:100%;
    background-image:url("../images/bar.jpg");
    background-size:100% 100%;
}
.image3{
    width:100%;
    background-image:url("../images/sushi7.jpg");
    background-size:100% 100%;
}
.image3 h3{
    letter-spacing: 2pt;
}

.image4{
    width:100%;
    background-image:url("../images/dinner2.jpg");
    background-size:100% 100%;
}