
//landing headline
@media screen and (max-width: 1200px){
    .landing-headline{
        font-size:9em;
    }
    .landing-subtext{
        font-size:1.75em;
    }
}

@media screen and (max-width: 991px){
    .landing-headline{
        font-size:8em;
    }
    .landing-subtext{
        font-size:1.5em;
        animation-duration: 0s;
    }
}


@media screen and (max-width: 768px) and (orientation: portrait){
    .landing-header{
        width: 100%;
        position:absolute;
        top:25%;
        text-align: center;
    }
    .landing-headline{
        font-size:20vw;
        letter-spacing:0em;
    }

    .landing-subtext{
        font-size:3.5vw;
        letter-spacing: .75em;
        line-height:2.5em;
        margin-top:15%;

    }

    .landing-subtext br{
        display:inline;
     
    }
}

@media screen and (max-width: 500px) and (orientation: portrait){
    .landing-header{
        top:30%;
    }
    .landing-headline{
        font-size:25vw;
    }

    .landing-subtext{
        font-size:4vw;
        margin-top:25%;
    }
  
}


@media screen and (max-width: 823px) and (orientation: landscape){
    .landing-header{
        width: 100%;
        position:absolute;
        top:25%;
        text-align: center;
    }
    .landing-headline{
        font-size:28vh;
        letter-spacing:0em;
    }

    .landing-subtext{
        font-size:4vh;
        letter-spacing: .75em;
        line-height:2.5em;
        margin-top:10%;
    }
    .landing-subtext br{
        display:none;
     
    }
}
