
@media (orientation: portrait) {
    //Landing Text Index.html

    @media screen and (max-width: 1600px)and (min-width: 1479px){
        .landing-header{
            width:60%;
            
        }

    }
@media screen and (max-width: 1480px)and (min-width: 1200px){
    .landing-header{
        width:70%;
        
    }
    
    .landing-headline{
        position: relative;
        top:2em;
        font-size:5em;
        height: 40vh;
    }
    
    .landing-subtext{
        position: relative;
        top:5em;
        font-size:2.5em;
        height: 20vh;
    }


}



@media screen and (max-width: 1199px)and (min-width: 990px){
    .landing-header{
        width:75%;
        
    }
    
    .landing-headline{
        position: relative;
        top:2.5em;
        font-size:5em;
        height: 40vh;
    }
    
    .landing-subtext{
        position: relative;
        top:6em;
        font-size:2.25em;
        height: 20vh;
    }
}

@media screen and (max-width: 989px)and (min-width: 650px){
    .landing-header{
        width:70%;
        
    }
    
    .landing-headline{
        position: relative;
        top:2.5em;
        font-size:3.5em;
        height: 40vh;
    }
    
    .landing-subtext{
        position: relative;
        top:5em;
        font-size:2em;
        height: 20vh;
    }
}


@media screen and (max-width: 649px)and (min-width: 450px){
    .landing-header{
        width:70%;
        
    }
    
    .landing-headline{
        position: relative;
        top:2em;
        font-size:3em;
        height: 40vh;
    }
    
    .landing-subtext{
        position: relative;
        top:5em;
        font-size:1.5em;
        height: 20vh;
    }
}


@media screen and (max-width: 449px)and (min-width: 321px){
    
    .landing-header{
        width:80%;
        
    }
    
    .landing-headline{
        position: relative;
        top:3.5em;
        font-size:2em;
        height: 40vh;
    }
    
    .landing-subtext{
        position: relative;
        top:5em;
        font-size:1em;
        height: 20vh;
    }  
}

@media screen and (max-width: 320px)and (min-width: 0px){

    .landing-header{
        width:90%;
    }
    
    .landing-headline{
        position: relative;
        top:3em;
        font-size:1.75em;
        height: 40vh;
    }
    
    .landing-subtext{
        position: relative;
        top:4em;
        font-size:1em;
        height: 20vh;
    } 
}

}