
//about us header
@media screen and (max-width: 1400px){
    .home-aboutus h2{
        font-size:2em;   

    }
}

@media screen and (max-width: 600px){
    .home-aboutus h2{
        font-size:1.75em;   
        line-height: 200%;
    }
}

@media screen and (max-width: 600px){
    .home-aboutus h2{
        font-size:1.75em;   
        line-height: 200%;
    }
    
    .home-aboutus span:before,
    .home-aboutus span:after {
        border-bottom: none;
    }   
}

@media screen and (max-width: 400px){
    .home-aboutus h2{
        font-size:1.5em;   
        line-height: 300%;
        letter-spacing: 6pt;
    }  
}

//about us overlay
    @media screen and (max-width: 1400px){
    .middle{
        width:70%;
    }
    .overlay-about{
        width:100%;
    }
    .overlay-about h2{
        font-size:4vw;
    }
    .overlay-about span{
        font-size:5vw;
    }
    .image3 h2{
        font-size:3.5vw;
    }
    .image3 span{
        font-size:4vw;
    }
    .image4 h2{
        font-size:3.75vw;
    }
    .image4 span{
        font-size:4.25vw;
    }
    .left-side{
        width:15%;
    }
    .right-side{
        width:15%;
    }
     .panel p{
        margin-left:15%;
        font-size: 10pt;
         }
}

//image and panels
@media screen and (max-width: 1650px){
    .middle{
        width: 50%;
    }
    .right-side{
        width:25%;
    }
    .left-side{
        width:25%;
    }
}

@media screen and (max-width: 1250px){
    .middle{
        margin-left:15%;
        width:70%;
    }
    .panel p{
    display:none;
    }  
}

@media screen and (max-width: 1000px){
    .aboutus-wrapper{
        width:100%;
        margin-left:0%;
    }
    .middle{
        margin-left:10%;
        width:80%;
    }
}

@media screen and (max-width: 768px){
    .aboutus-wrapper{
       border-top: none;
       border-bottom: none;
       margin-top:0%;
    }

    .aboutus-wrapper:last-of-type{
       // margin-bottom:10%;
    }
    .middle{
        width:98%;
        margin-left:1%;
        margin-right:1%; 
    }  
}
//about us container

@media screen and (max-width: 768px){
    .home-aboutus{
       // margin-top:0vh;
    }

    .aboutus-wrapper{
       // margin-top:0;
        width:100%;
       // margin-bottom:0;
        //margin-left:0;  
        //border-bottom: none;
    }
    .overlay-header{
        margin-top:8px;
        margin-bottom:8px;
    }
    .overlay-hidden-border{
        border:none;
    }
    .overlay-border{
        border:none;
    }

}

//about us overlay cell sizes 
@media screen and (max-width: 480px)and (orientation: portrait){
   .aboutus-wrapper{
    margin-left:0;
    padding-top:5vw;;
   }
   .aboutus-wrapper:nth-of-type(4){
    margin-bottom:5vw;
 }
   .middle{
    margin-left:0%;
   }
   .overlay-about{
       margin-left:5vw;
       height:65vh;
       width:90vw;
   }
   .overlay-header{
       height:65vh;
       width:90vw;
   }
   .overlay-header h5{
    font-size:5vw;
    top:20vh;
    letter-spacing:2vw;;
    }
    //span added to create space between words so they are pushed onto a new line and separated
   .overlay-header span{
     display:block;
     padding-top:1.25em;
     padding-top:1.25em;
     margin:0;
    }
    .overlay-border, .overlay-hidden-border{
    border:none;
    }
    .overlay-hidden-border{
    top:0;
    left:0;
    }

   .image1{
       background-image:url("../images/mediasushi1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
   }
   .image2{
       background-image:url("../images/mediabar1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
   }
   
   .image3{
       background-image:url("../images/mediasushi2.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
   }
   
   .image4{
       background-image:url("../images/mediadinner1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
   }
}