
//about us header
@media screen and (max-width: 1400px){
    .home-aboutus h2{
        font-size:2em;   

    }
}

@media screen and (max-width: 600px){
    .home-aboutus h2{
        font-size:1.75em;   
        line-height: 200%;

    }
}

@media screen and (max-width: 600px){
    .home-aboutus h2{
        font-size:1.75em;   
        line-height: 200%;

    }
    
    .home-aboutus span:before,
    .home-aboutus span:after {
        border-bottom: none;
    }   
}


@media screen and (max-width: 400px){
    .home-aboutus h2{
        font-size:1.5em;   
        line-height: 300%;
        letter-spacing: 6pt;

    }
    
}

//about us overlay

    @media screen and (max-width: 1400px){
    .middle{
        width:60%;
        margin-left:20%;
    }
    .overlay-about{
        width:100%;
    }
    .overlay-about h2{
        font-size:4vw;
    }

    .overlay-about span{
        font-size:5vw;
    }
    .image3 h2{
        font-size:3.5vw;
    }
    .image3 span{
        font-size:4vw;
    }
    .image4 h2{
        font-size:3.75vw;
    }
    .image4 span{
        font-size:4.25vw;
    }
    .left-side-new{
       // display: none;
       width:10%;
       background-color:red;
     }
    .right-side-new{
         //display: none;
         width:10%;
         background-color:red;
     }
     .panel p{
        margin-left:0%;
        font-size: 8pt;
        // display: none;
         }
    
}

@media screen and (max-width: 900px) and (min-width: 0px) {

    .middle{
        width:100%;
        margin-left:0%;
       }
   .overlay-about{
       width:100%;
       }
      
   .overlay-about span{
       font-size:6vw;
       }   
}

//About us text
@media screen and (max-width: 1160px)and (min-width: 0px){
   .left-side-new{
       //js file is changing display to none @ 1159 or less pixels
       display: none;
     }
     .right-side-new{
      //js file is changing display to none @ 1159 or less pixels
      display: none;
     }
     .panel p{
         display: none;
     }
}

//About us 480px Cell 
@media screen and (max-width: 500px){
   .overlay-header h3{
       border-top:solid $wht 1px;
       border-bottom: solid $wht 1px;
       line-height:150px;
       position:relative;
       top:30%;
       width:60%;
       left:20%;
       text-align: center;
       letter-spacing:6pt;
   }


   .aboutus-wrapper{
       width:100%;
       margin-left:0;
   }
   .overlay-about{
       height:100vh;
       width:100vw;
   }
   .overlay-header{
       height:100vh;
       width:100vw;
   }

   .image1{
       background-image:url("../images/mediasushi1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
    
   }
   
   .image2{
       background-image:url("../images/mediabar1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
    
   }
   
   .image3{
       background-image:url("../images/mediasushi2.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
    
   }
   
   .image4{
       background-image:url("../images/mediadinner1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
    
   }



}