// font-family: 'Kristi', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Neucha', cursive;
// font-family: 'Architects Daughter', cursive;
// font-family: 'Rock Salt', cursive;
// font-family: 'Nanum Brush Script', cursive;
// font-family: 'Knewave', cursive;
// font-family: 'Freckle Face', cursive;
// font-family: 'IM Fell English SC', serif;


.landing-header{
    width: 50%;
    position:relative;
    margin:auto;
    top:20%;
    text-align: center;
    color:$wht;
    height: 80vh;
}
.landing-headline{
    font-family: 'Rock Salt', cursive;
    // font-size:20vw;
    // font-size:20.5vh;
    font-size:100pt!important;
    letter-spacing: .25em;
}
.landing-subtext{
    font-size:3vw;
    font-size:3vh;
    width:40%;
    border-top: solid white 1px;
    border-bottom:solid white 1px;
    position: relative;
    color:$wht;
    text-align: center;
    // padding-top:50px;
    // padding-bottom:50px;
    line-height:100px;
    left:20%;
    top:10%;
}
// .landing-subtext span{
//     color:$rkuRed;
// }
.landing-headline span{
    color:$rkuRed;
}
//shared sections
%backgroundImg{
    margin-top:0;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    height:95vh;
    background-color:$bk;
    z-index:1;   
}
.landing-image{
    @extend %backgroundImg;
}
.landing-image.overlay{
    background:$bk;
    opacity:.5;
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
    display: table;
    width: 100vw;
    height:95vh;
}
@keyframes indexLandingTransition {
    0%{
        background-image: url('../images/group-1.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
    }
    33%{
        background-image: url('../images/group-2.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
    }
    66%{
        background-image: url('../images/group-3.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
    }
    100%{
        background-image: url('../images/group-1.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
    }
}
.landing-image .overlay{
	animation-name: indexLandingTransition;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
    animation-duration: 20s;
}


