// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Architects Daughter', cursive;
// font-family: 'Nothing You Could Do', cursive;
// font-family: 'Molle', cursive;
// font-family: 'Shojumaru', cursive;
// font-family: 'Sedgwick Ave Display', cursive;
// font-family: 'Ruslan Display', cursive;
// font-family: 'Mansalva', cursive;
// font-family: 'Oregano', cursive;
// font-family: 'Julee', cursive;


.landing-header{
    //background-color:yellow;
    width: 80%;
    position:relative;
    margin:auto;
    text-align: center;
    height: 60vh;
    top:25%;
}
.landing-headline{
    position:relative;
    font-family: 'Rock Salt', cursive;
    font-size:10em;
    letter-spacing: .1em;
    margin-left:auto;
    margin-right:auto;
}
.landing-subtext{
    font-size:2em;
    line-height:350%;
    margin-top:10%;
    width:45%;
    margin-left:auto;
    margin-right:auto;
    animation-duration: 3s;
}

.landing-subtext span{
    font-family: 'Rock Salt', cursive;
    color:$rkuRed;
}
.landing-headline span{
    color:$rkuRed;
}


//shared sections
%backgroundImg{
    background-image: url('../images/group-1.jpg');
    margin-top:0;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    height:95vh;
    background-color:$bk;
    z-index:1;   
}
.landing-image{
    @extend %backgroundImg;
}

.landing-image.overlay{
    background:$bk;
    opacity:.4;
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
    display: table;
    width: 100vw;
    height:95vh;
}
//fix later transition background images
// @keyframes indexLandingTransition {
//     0%{
//         background-image: url('../images/group-1.jpg');
//         background-repeat: no-repeat;
//         background-size:cover;
//         background-position:center;
//     }
//     66%{
//         background-image: url('../images/group-2.jpg');
//         background-repeat: no-repeat;
//         background-size:cover;
//         background-position:center;
//     }
//     100%{
//         background-image: url('../images/group-3.jpg');
//         background-repeat: no-repeat;
//         background-size:cover;
//         background-position:center;
//     }

// }

//   .landing-image{
//     animation-name: indexLandingTransition;
//     animation-timing-function: ease-in-out;
//    animation-iteration-count: infinite;
//     animation-duration: 20s;
//    animation-fill-mode: both;
//    animation-direction: alternate;

//   }

