
//about us header
@media screen and (max-width: 1400px){
    .home-aboutus h2{
        font-size:2em;   

    }
}

@media screen and (max-width: 600px){
    .home-aboutus h2{
        font-size:1.75em;   
        line-height: 200%;
    }
}

@media screen and (max-width: 600px){
    .home-aboutus h2{
        font-size:1.75em;   
        line-height: 200%;
    }
    
    .home-aboutus span:before,
    .home-aboutus span:after {
        border-bottom: none;
    }   
}

@media screen and (max-width: 400px){
    .home-aboutus h2{
        font-size:1.5em;   
        line-height: 300%;
        letter-spacing: 6pt;
    }  
}

//about us overlay
    @media screen and (max-width: 1400px){
    .middle{
        width:70%;
    }
    .overlay-about{
        width:100%;
    }
    .overlay-about h2{
        font-size:4vw;
    }
    .overlay-about span{
        font-size:5vw;
    }
    .image3 h2{
        font-size:3.5vw;
    }
    .image3 span{
        font-size:4vw;
    }
    .image4 h2{
        font-size:3.75vw;
    }
    .image4 span{
        font-size:4.25vw;
    }
    .left-side{
        width:15%;
    }
    .right-side{
        width:15%;
    }
     .panel p{
        margin-left:15%;
        font-size: 10pt;
         }
}

@media screen and (max-width: 1250px){
    .middle{
        margin-left:10%;
        width:80%;
    }
    .panel p{
    display:none;
    }  
}

@media screen and (max-width: 1000px){
    .aboutus-wrapper{
        width:100%;
        margin-left:0%;
    }
    .middle{
        margin-left:5%;
        width:90%;
    }
}

@media screen and (max-width: 768px){
    .aboutus-wrapper{
        border-bottom: none;
        border-top: none;
    }
    .middle{
        margin-left:0%;
        width:100%;
    } 

   
}

//about us overlay cell sizes 
@media screen and (max-width: 580px)and (orientation: portrait){
   .aboutus-wrapper{
    margin-left:0;
   }
   .middle{
    margin-left:0%;
   }
   .overlay-about{
       height:100vh;
       width:100vw;
   }
   .overlay-header{
       height:100vh;
       width:100vw;
   }
   .overlay-header h5{
    font-size: 18pt;
    top:33vh;
    letter-spacing: 14pt;
    }
    .aboutus-wrapper:nth-of-type(3) h5{
    top:28vh;
    }
   .overlay-header span{
    display:block;
    padding-top:3em;
     padding-top:3em;
     margin:0;
    }
    .overlay-border, .overlay-hidden-border{
    border:none;
    }
    .overlay-hidden-border{
    top:0;
    left:0;
    }

   .image1{
       background-image:url("../images/mediasushi1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
   }
   .image2{
       background-image:url("../images/mediabar1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
   }
   
   .image3{
       background-image:url("../images/mediasushi2.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
   }
   
   .image4{
       background-image:url("../images/mediadinner1.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       background-position:center;
   }
}