
@media (orientation: portrait) {
    //Landing Text Index.html
@media screen and (max-width: 1480px)and (min-width: 1200px){
    %backgroundImg,.landing-image.overlay,.landing-image.home {
        height:95vh;
    }
    .landing-header{
        width:55%;
    }
    
    .landing-headline{
       padding-top:.5em;
       font-size:40pt;
       height:40vh;
    }
    
    .landing-subtext{
        margin-top:1.75em;
        font-size:20pt;
        height:20vh;
    }

}



@media screen and (max-width: 1199px)and (min-width: 990px){
    %backgroundImg,.landing-image.overlay {
        height:95vh;
    }
    .landing-header{
        width:60%;
    }
    
    .landing-headline{
       padding-top:2em;
       font-size:40pt;
       height:40vh;
    }
    
    .landing-subtext{
        margin-top:3em;
        font-size:20pt;
        height:20vh;
    }
}

@media screen and (max-width: 989px)and (min-width: 650px){
    %backgroundImg,.landing-image.overlay {
        height:95vh;
    }
    .landing-header{
        width:60%;
    }
    
    .landing-headline{
       padding-top:2em;
       font-size:32pt;
       height:40vh;
    }
    
    .landing-subtext{
        margin-top:2.5em;
        font-size:16pt;
        height:20vh;
    } 
}


@media screen and (max-width: 649px)and (min-width: 450px){
    %backgroundImg,.landing-image.overlay {
        height:95vh;
    }
    .landing-header{
        width:80%;
    }
    
    .landing-headline{
       padding-top:1.5em;
        font-size:32pt;
        height:40vh;
    }
    
    .landing-subtext{
        margin-top:3.5em;
        font-size:16pt;
        height:20vh;
        
    } 
}


@media screen and (max-width: 449px)and (min-width: 321px){
    
    .landing-header{
        width:80%;
    }
    
    .landing-headline{
        position: relative;
        top:3em;
        font-size:26pt;
    }
    
    .landing-subtext{
        position: relative;
        top:3.5em;
        font-size:16pt;
    }  
}

@media screen and (max-width: 320px)and (min-width: 0px){

    .landing-header{
        width:90%;
        height:100vh;
        color:green;
    }
    
    .landing-headline{
        position: relative;
        top:4em;
        font-size:20pt;
    }
    
    .landing-subtext{
        position: relative;
        top:7em;
        font-size:12pt;
    } 
}

}