//about us section container

.home-aboutus{
    //max-width: 1400px;
    width:100%;
    text-align: center;
    //margin-top:10vh;

}

//header "about us"
.home-aboutus h2{  
    letter-spacing: 10pt;
    font-family: 'Rock Salt', cursive;
}

.home-aboutus span{
    display: inline-block;
    position: relative;  

}
//line on sides of header "about us"
.home-aboutus span:before,
.home-aboutus span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: solid $rkuRed 1px;
  top: 50%;
  width: 50%;
}
.home-aboutus span:before {
    right: 100%;
    margin-right: 15px;
  }
  .home-aboutus span:after {
    left: 100%;
    margin-left: 15px;
  }

  //section that wraps the two panels and center content
.aboutus-wrapper{
    margin-top:5%;
    width:90%;
    border-bottom: solid rgb(114, 112, 112) 1px;
    border-top: solid rgb(114, 112, 112) 1px;
   // margin-bottom:10%;
    float: left;
    margin-left:5%;
    overflow: hidden;

}

.aboutus-wrapper:last-of-type{
    margin-bottom:10%;
}
.panel{
    text-align: center;
    
}
.panel p{

    margin-top:25%;
    width:70%;
    margin-left:15%;
    line-height: 2em;
}

.left-side{
    width:30%;
    float: left;
    transform: translateX(-100%);
    transition: transform 1s ease-in;
}

.left-side-new{
    transform: translateX(0);
}
.right-side{
    width:30%;
    float: left;
    transform: translateX(100%);
    transition: transform 1s ease-in;
}
.right-side-new{
    transform: translateX(0);
}
.middle{
    width: 40%;
    float: left;
    margin-left:auto;
    margin-right:auto;
}
.overlay-about{
    width:90%;
}

.overlay-header{
    position:relative;
    background-color:$rkuRed;
    width:100%;
    height:350px;
    color:$wht;
    opacity: .7;
    transition: opacity .5s;
    transition-duration: 3.5s;
    margin-top:1%;
    margin-bottom:1%;
}

.overlay-border{
    border:solid .5px rgb(228, 222, 222);
    width:90%;
    height:80%;
    position: relative;
    margin: auto;
    top:10%;
}

.overlay-hidden-border{
    border:solid 25px $rkuRed;
    border-radius: 50px;
    width:102%;
    height:104%;
    position: absolute;
    margin: auto;
    top:-5px;
    left:-5px;
}

.overlay-header h5{
    text-align: center;
    letter-spacing:6pt;
    position:relative;
    top:50%;
}

.disappear{
    opacity:0;
}
.image1{
    width:100%;
    background-image:url("../images/sushi11.jpg");
    background-size:100% 100%;
}
.image2{
    width:100%;
    background-image:url("../images/bar.jpg");
    background-size:100% 100%;
}
.image3{
    width:100%;
    background-image:url("../images/sushi7.jpg");
    background-size:100% 100%;
}
.image3 h5{
    letter-spacing: 2pt;
}

.image4{
    width:100%;
    background-image:url("../images/dinner2.jpg");
    background-size:100% 100%;
}