//Map header
@media screen and (max-width: 768px){
    .location-wrapper h3{
        font-size:4vw;
    }
}
@media screen and (max-width: 568px){
    .location-wrapper h3{
        font-size:5vw;
    }
}

//Map wrapper
@media screen and (max-width: 1450px){
    #map-slp, #map-edina{
        width:90%;
    }
}

@media screen and (max-width: 1150px){
    #map-slp, #map-edina{
        width:98%;
        height:45vh;
    }
}

@media screen and (max-width: 1150px)and(orientation:portrait){
    #map-slp, #map-edina{
        width:70%;
        height:65vh;
    }
    .edina, .slp{ 
        background-color:yellow;
    }
}

@media screen and (max-width: 900px)and(orientation:portrait){
    #map-slp, #map-edina{
        width:90%;
        height:65vh;
    }

    #map-slp .mapimage{
        background-position-x: 43%; 
        background-position-y: 35%; 
    }

}

