//maps
@media screen and (max-width: 1200px){
    #map-slp, #map-edina{
        margin-left:0;
        width:100%;
    }
 }
 //location header
 @media screen and (max-width: 650px){
    .location-header h3{
        width:100%;
    }

    .location-header ul{
        margin-left:0;
        width:100%;
    }
 }
//maps and headers phone/tablet portrait
 @media screen and (max-width: 500px)and(orientation:portrait){
    #map-slp, #map-edina{
        height:75vh;
    }
    .location{
        height:100vh;
        
    }
    .location-header h3{
        font-size: 1.5em;
    }

 }


 //maps ad headers phones and tablets landscape:
@media only screen 
//add other max widths here and change button sizing, letters too big etc
  and (min-width: 320px) 
  and (max-width: 812px) 
  and (orientation: landscape) { 
    .location{
        height:100vh;
    }
    .location-header h3{
        font-size: 1.5em;
    }
    #map-slp, #map-edina{
        height:75vh;
    }
    .location-header ul{
        margin-left:0;
        width:100%;
    }


}