.location{
    text-align: center;
}

.location li{
    display: inline;
}

.location-wrapper{
    width:100%;
    padding-top:50px;
}

.location ul:first-of-type :nth-child(2n+2){
    color:$rkuRed
}
.location ul{
    width:60%;
    margin-left:20%;
    min-height: 100px;
}
#map-slp, #map-edina{
    width:80%;
    height:50vh;
    margin-left:10%;
    margin-bottom:3vw;
}
.edina, .slp{
    width:80%;  
    margin-left:10%;
}

.location-header h3{
    width:45%;
    border-bottom:solid 1px $rkuRed;
    margin-bottom:2%;
    margin-left:auto;
    margin-right:auto;
    line-height:200%;
}
.mapimage{
     height:100%;
     background-repeat: no-repeat;
}

.mapimage:hover{
    cursor: pointer;//zoom-in (later)/grabbing for image
}

#map-slp .mapimage{
    background: url('../images/slpmap.jpg');
    background-position-x: 35%; 
    background-position-y: 50%; 
}

#map-edina .mapimage{
    background: url('../images/edinamap.jpg');
    background-position:center;
}

