.location-details{
    background-color:#ff0000;
    float: left;
    width:50%;
    border-top:solid black 1px;
    border-bottom:solid black 1px;
}
#map-SLP{
    width:50%;
    float: left;
}

#map-EDINA{
    width:50%;
    float: left;
}

#map-SLP img{
    width:100%;
}

#map-EDINA img{
    width:100%;
}