.location{
    text-align: center;
}
.location-header{
    margin-top:2%;
}

.location li{
    display: inline;
}
.location-wrapper:nth-child(odd){
   background-color:white;
}
.location-wrapper:nth-child(even){
    background-color:$rkuGray;
}
.location-wrapper{
    width:100%;
    padding-top:50px;
    height:90vh;
}
.slp{
    color:black;
    }

.location ul :nth-child(2n+2){
    color:$rkuRed
}

.location ul{
    width:60%;
    margin-left:20%;
    min-height: 100px;
}


#map-slp, #map-edina{
    width:80%;
    height:40vh;
    margin-left:10%;
}
#map-slp{
    border-top:solid $rkuGray 1px;
    border-bottom:solid $rkuGray 1px;
    
}

#map-edina{
    border-top:solid white 1px;
    border-bottom:solid white 1px;
}
.edina, .slp{
    width:80%;  
    margin-left:10%;

}
iframe{
    padding-top:20px;
    padding-bottom:20px;
}
.location-header h3{
    width:45%;
    border-bottom:solid 1px $rkuRed;
    margin-bottom:2%;
    margin-left:auto;
    margin-right:auto;
    line-height:200%;
}
