@media screen and (max-width: 1160px) and (min-width: 901px) {
    #loader-nav .nav-link{
    letter-spacing: 6px;
    }
    #loader-nav .hd-ft-bar span{
        padding-left:8%;
        padding-right:8%;
    }
    .navbar-nav{
        margin-left:0%;
    }
    .headers{
        font-size:25pt;   
        letter-spacing: 8px;
        line-height: 3em;
    }
    .headers span{
        font-size:15pt;    
    }
    .middle{
        width:70%;
        margin-left:15%;
    }
    .overlay-about{
        width:100%;
    }
    .overlay-about h2{
        font-size:4vw;
    }

    .overlay-about span{
        font-size:5vw;
    }
    .image3 h2{
        font-size:3.5vw;
    }
    .image3 span{
        font-size:4vw;
    }
    .image4 h2{
        font-size:3.75vw;
    }
    .image4 span{
        font-size:4.25vw;
    }
}
@media screen and (max-width: 900px) and (min-width: 450px) {
        .headers{
            font-size:25pt;   
            letter-spacing: 8px;
            line-height: 3em;
        }
        .headers span{
            font-size:15pt;    
        }
    
        .left-side-new{
          display: none;
        }
        .right-side-new{
         display: none;
        }
        .panel p{
            display: none;
        }
    
        .middle{
       width:100%;
       margin-left:0%;
       //about us wrapper is causin gthis to have a margin on the left side at 883 screen size

        }
        .overlay-about{
            width:100%;
        }
        .overlay-about h2{
            font-size:5vw;
        }
    
        .overlay-about span{
            font-size:6vw;
        }
        
   
}
//stop displaying sliding text at about us section at 1160
@media screen and (max-width: 1160px)and (min-width: 0px){
    .left-side-new{
        //js file is changing display to none @ 1159 or less pixels
        display: none;
      }
      .right-side-new{
       //js file is changing display to none @ 1159 or less pixels
       display: none;
      }
      .panel p{
          display: none;
      }
}

//restaurant location bar at top stop displaying at 991
@media screen and (max-width: 991px)and (min-width: 0px){
    #loader-nav .hd-ft-bar{
        display: none;
    }

 }
//header text on landing
 @media screen and (max-width: 960px)and (min-width: 650px){
    .landing-header{
        width:60%;
    }
    .landing-headline{
        font-size:5.5vw;
        padding-top:1em;
        font-size:6.5vh;
    }
    .landing-subtext{
        font-size:2vw;
        margin-top:3em;
    }

 }
//header text on landing
 @media screen and (max-width: 649px)and (min-width: 480px){
    .landing-header{
        width:70%;

    }
    .landing-headline{
        font-size:20pt;
        padding-top:2em;
        font-size:4.5vh;
    }
    .landing-subtext{
        font-size:12pt;
        margin-top:6em;
    }

 }

 //header text on landing
 @media screen and (max-width: 479px)and (min-width: 0px){
    .landing-header{
        width:80%;
    }
    .landing-headline{
        font-size:20pt;
        padding-top:2em;
        font-size:4.5vh;
    }
    .landing-subtext{
        font-size:12pt;
        margin-top:4em;
    }

 }

 //check landing text VH settings  @ 1142 spilling out of the container until media screen size.

 @media screen and (max-width: 1200px)and (min-width: 990px){
    #loader-footer .hd-ft-bar{
        font-size: 10pt;
        }
 }

 @media screen and (max-width: 889px)and (min-width: 0px){
    #loader-footer .hd-ft-bar{
        font-size: 10pt;
        }
        
        #loader-footer .hd-ft-bar{
            padding-bottom:400px;
        }
        .social-media{
            width:100%;
            float:left;
        }
        .copyright{
            width:100%;
            float:left;
            text-align: center;
            padding-left:3%;
        }
        .fab{
            margin-left:5%;
            align-content: right;
            width: 50px;
        }
        .margarita{
            text-align: center;
            width:100%;
            float: left;
        
        }
        .margarita img{
            width:25px;
            float: right;
            margin-top:5px;
            transition-duration: 1.5s;
        }
        
        .margarita img:hover{
            width:30px;
        }
 }