@media screen and (max-width: 1159px) and (min-width: 901px) {
 //starter file
    }

 @media screen and (max-width: 768px) and (min-width: 0px) {
   
  
   .menu-buttons div{
      width:100%;
      float:none;
      margin:none;
      
      }

    }
