
.menu-header-photos{
    width:100%;
    height:65vh;
}

.menu-overlay{
    height:65vh;
    position:relative;
    width:100%;
    background-color:$bk;
    opacity:.5;
    display:table;
}

.menu-subsection{
    margin-top:-65vh;
}
.menu-subsection h1{
    font-size: 32pt;
    border-top: solid white 2px;
    border-bottom:solid white 2px;
    position: relative;
    top:-50vh;
    left:38%;
    //use a variable to get the total width divide by width of page to center this as a percentage
    color:$wht;
    line-height: 300%;
    width:25%;
    text-align: center;
}

.menu-subsection h2{
    font-size: 32pt;
    line-height: 200%;
}

.arrow.down{
    padding:7px;
    border:2px solid white;
    border-radius: 15px;
    width:40px;
    position:relative;
    top:-20vh;
    left:49%;
    z-index: 1;
    //fill:blue;
//https://github.com/filamentgroup/grunticon/issues/235
//onclick doesnt work with svg
}

.arrow.up{
    display:none;
    transform: rotate(180deg);
    padding:7px;
    border:2px solid black;
    border-radius: 15px;
    width:40px;
    position:relative;
    left:49%;
    z-index: 1;

}

.arrow:hover{
    cursor: pointer;
}

.arrow.down:hover{
    background:white;
}
.arrow.up:hover{
    background:black;
}


.menu-list{
    margin-top:-150px;
    text-align: center;
}

.menu-list span{
    color:$rkuRed;
    padding-left:15px;
    padding-right:15px;
}

.divider{
    border-top:solid black 1px;
    height:50px;
    width:80%;
    margin-left:10%;
    // padding-bottom:100px;

}

