//Menu buttons

@media screen and (max-width: 768px)and(orientation: portrait)
{
   .menu-buttons h3{
      font-size:22pt;
      width:90vw;
      margin-left:5vw;
   }
}

@media screen and (max-width: 500px)and(orientation: portrait)
{
   .menu-buttons h3{
      font-size:18pt;
      width:98vw;
      margin-left:1vw;
   }
}

@media screen and (max-width: 850px)and(orientation: landscape)
{
   .menu-buttons h3{
      font-size:18pt;
      width:90vw;
      margin-left:5vw;
   }
}

//Menu content/list
@media screen and (max-width: 768px)and(orientation: portrait)
{
   .menu-buttons h4{
      margin-top:6%;
      font-size:18pt;
      width:60vw;
      margin-left:20vw;
   }
   .menu-buttons p, .menu-buttons ul{
      font-size:12pt;
   }
}
@media screen and (max-width: 500px)and(orientation: portrait)
{
   .menu-buttons h4{
      margin-top:6%;
      font-size:16pt;
   }
   .menu-buttons p, .menu-buttons ul{
      font-size:10pt;
   }
}

@media screen and (max-width: 850px)and(orientation: landscape)
{
   .menu-buttons h4{
      margin-top:6%;
      font-size:16pt;
   }
   .menu-buttons p, .menu-buttons ul{
      font-size:10pt;
   }
}

//pdf link

@media screen and (max-width: 1250px)
{
   .pdf{
      margin-top:6%;
      width:40vw;
      margin-left:30vw;
   }
}

@media screen and (max-width: 768px)and(orientation: portrait)
{
   .pdf{
      margin-top:10%;
      font-size:12pt;
      width:60vw;
      margin-left:20vw;
    
   }
}
@media screen and (max-width: 400px)and(orientation: portrait)
{
   .pdf{
      font-size:12pt;
      width:80vw;
      margin-left:10vw;
    
   }
}