.content-container{
   text-align: center;
}

#lunch, #happyhour, #dinner{
display:none;
}

.menu-buttons{
   margin-top:5%;
}
.menu-buttons div h3:hover{
   color:$rkuRed;
   cursor: pointer;
}
.menu-buttons>div{
   margin-bottom: 1%;
}
   .menu-buttons>div>div{
      margin-bottom: 3%;
   }
   .menu-buttons h3{
      line-height: 2em;
      letter-spacing: .5em;
   }

   // .menu-buttons h4{
   //    padding-bottom:5px;
   //    margin-top:2%;
   //    margin-bottom:2%;
   //    border-bottom:solid .25px $rkuRed;
   //    width:30vw;
   //    margin-left:35vw;
     
   // }
   .menu-buttons span{
      color:$rkuRed;
      padding:5px;
  }
  .menu-buttons ul{
   margin:2% 0%;
  }
.pdf{
    @extend %buttons;
    margin-top:2%;
    margin-bottom:5%;
}
.pdf:hover{
    color:$rkuRed;
}


