.menu-buttons{
    height:35vh;
}

.menu-buttons :first-child{
    margin-left:3%;
}
.menu-buttons div{
    position:relative;
    top:5vh;
    width:30%;
    float:left;
    margin:1%;
    text-align: center;
}

.menu-buttons div h3{
    line-height: 2em;
    }
#happy-hour-button{
    border-right:solid 1px $rkuRed;
    border-left:solid 1px $rkuRed;
}

.menu-buttons div h3:hover{
   color:$rkuRed;
   cursor: pointer;
}

.menu-items{
    text-align: center;
    margin-bottom:5%;
}
.menu-items span{
    color:$rkuRed;
    margin:10px;
}

.menu-items h4{
   margin-top:2%;
   margin-bottom:2%;
   border-bottom:solid .25px $rkuRed;
   line-height: 80%;
   display:inline-block; 
}

.pdf{
    text-align: center;
    margin-bottom: 5%;
}

.pdf:hover{
    color:$rkuRed;
}