.navbar{
    min-height:40px!important; 
    background:transparent!important;
    top:40px;
    z-index:2;
    color:white!important;  
}

.navbar-collapse{
    padding:0px!important;
    line-height: 0px;
}

.navbar a:hover{
    color:$rkuRed!important;
}
.navbar span{
    color:white;
 }

.hd-ft-bar{
    background-color:$bk;
    color: $wht;
    height:40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    overflow: hidden;
    clear:both;
}

header .nav-link span{
    font-size: 8pt; 
}
header .nav-link{
letter-spacing: 8px;
}
header .hd-ft-bar span{
    font-size: 8pt; 
    color:$rkuRed;
    padding-left:10%;
    padding-right:10%;
}
.navbar-nav{
    margin:auto;
}

.nav-link{
    color:white!important;
}

.hdBarFadeIn{
animation:fadeIn 3.5s;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

//hamberger menu 
.navbar-toggler:focus{
    outline: none;

}
.navbar-toggler{
    display:none;

}

