//header footer bar displaying the addresses
@media screen and (max-width: 1159px) and (min-width: 901px) {
    header .hd-ft-divider{
        padding-left:8%;
        padding-right:8%;
    }
}
 @media screen and (max-width: 990px)and (min-width: 0px){
     //do not display this bar on screen sized less than 990
    header .hd-ft-bar{
       display: none;
    }
}
//navigation (to change this on resize need to add more to index.js file to mimix this css:
@media screen and (max-width: 990px) and (min-width: 0px) {
.navbar{
    background:rgb(0,0,0,.85)!important;
    top:0px;
}
}
@media screen and (max-width: 1159px) and (min-width: 900px) {
    header .nav-link{
    letter-spacing: 5px;
    }

}

@media screen and (max-width: 900px) and (min-width: 0px) {
    header .nav-link{
    letter-spacing: 2px;
    }

}

//hamberger
@media screen and (max-width: 767px) and (min-width: 0px) {
    .navbar-toggler{
        display:block;
      position:fixed;
      z-index: 3;
    }
    
    .navbar{
        background:transparent!important;
    }
    ul.navbar-nav{
        margin-top:25vh;
        text-align: center;
        line-height: 3em;
        height:100vh;
    }
    li.nav-item span{
        display:none;
    }
 


}

