
.subpage-banner{
        margin-top:0;
        // background-image: url('../images/group-1.jpg'); this is being dynamically set by javascript file subpage.js based on the URL
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        position:relative;
        display: block;
        height:65vh;
}
.subpage-overlay{
    height:65vh;
    position:relative;
    width:100%;
    background-color:$bk;
    opacity:.5;
    display:table;
}
.subpage-content{
   position:relative;
   top:65vh;
}
.subpage-content h1{
    @extend %headerStyle;
}
.subpage-content h5{
    text-align: center;
    position: relative;
}
