//banner for all pages excluding main landing page, image and header content:
.subpage-banner{
        margin-top:0;
        // background-image: url('../images/group-1.jpg'); this is being dynamically set by javascript file subpage.js based on the URL
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        position:relative;
        display: block;
        height:90vh;
}
.subpage-overlay{
    height:90vh;
    position:relative;
    width:100%;
    background-color:$bk;
    opacity:.5;
    display:table;
}
.subpage-content{
   position:relative;
   top:90vh;
   width:30%;
   margin: auto;
   height:0px;
   //was pushing content over, adjusted height no longer overflowing 
}
.subpage-content h1{
    @extend %headerStyle;
}

.subpage-content h5{
    margin:auto;
    animation-duration: 3s;
    animation-name: shrink;
}

@keyframes shrink {
    from {
     letter-spacing:.05em;
    }
  
    to {
        letter-spacing:0em;
    }
  }
  .subpage-content h5{
    letter-spacing:0em;
}