// sass --watch main.scss main.css
$font-style: 'Julius Sans One', 'sans-serif';
$bk: black;
$wht:white;
$beige:rgb(250, 245, 237);
$rkuRed: rgb(235, 74, 26);


%iconHover{
    padding:5px;
    color:$rkuRed;
    cursor: pointer;
}
body, html{
    font-family:$font-style;
    color:$bk;
    background-color:$beige;
}


//Menu, Locations etc on all pages except index.js
.subpage-headers{
    text-align: center;
    font-size: 36pt;
    padding-top:5%;
    padding-bottom:5%;
}

.subpage-headers span{
    font-size:28pt;
    margin-left:5%;
    margin-right:5%;
}


@import 'nav';
@import 'index-landing';
@import 'index-about';
@import 'footer';
@import 'locations';
@import 'menu';
@import 'staff';
@import 'mediaScreens';
@import 'menuMediaScreens'
