.fab:hover {
  padding: 5px;
  color: #eb4a1a;
  cursor: pointer;
}

body, html {
  font-family: "Julius Sans One", "sans-serif";
  color: black;
  background-color: #faf5ed;
}

.navbar {
  min-height: 50px !important;
}

.navbar a:hover {
  color: #eb4a1a !important;
}

.navbar span {
  color: gray;
}

.navbar-brand {
  height: 50px !important;
}

.navbar {
  min-height: 50px !important;
}

.navbar a:hover {
  color: #eb4a1a !important;
}

.navbar span {
  color: gray;
}

.navbar-brand {
  height: 50px !important;
}

.headers {
  font-size: 30pt;
  letter-spacing: 8px;
  line-height: 3em;
}

.headers span {
  font-size: 20pt;
}

.hd-ft-bar {
  background-color: black;
  color: white;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  overflow: hidden;
  clear: both;
}

.navbar img {
  margin-left: 10%;
  width: 100px;
  position: relative;
  z-index: 2;
}

#loader-nav .nav-link span {
  font-size: 8pt;
}

#loader-nav .nav-link {
  letter-spacing: 8px;
}

#loader-nav .hd-ft-bar span {
  font-size: 8pt;
  color: #eb4a1a;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-nav {
  margin-left: 15%;
}

.landing-header {
  width: 40%;
  position: relative;
  margin: auto;
  top: 4rem;
  text-align: center;
  color: white;
  height: 80vh;
}

.landing-headline {
  font-size: 7vw;
  font-size: 6.5vh;
}

.landing-subtext {
  margin: auto;
  font-size: 3vw;
  font-size: 3vh;
  width: 75%;
  margin-top: 2em;
}

.landing-subtext span {
  color: #eb4a1a;
}

.landing-headline span {
  color: #eb4a1a;
}

.landing-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 110vh;
  background-color: black;
  z-index: 1;
}

.landing-image.overlay {
  background: black;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: table;
  width: 100vw;
  height: 110vh;
}

@keyframes indexLandingTransition {
  0% {
    background-image: url("../images/group-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  33% {
    background-image: url("../images/group-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  66% {
    background-image: url("../images/group-3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  100% {
    background-image: url("../images/group-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.landing-image .overlay {
  animation-name: indexLandingTransition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

.home-aboutus {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

.aboutus-wrapper {
  width: 90%;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
  margin-bottom: 10%;
  float: left;
  margin-left: 5%;
  overflow: hidden;
}

.panel {
  text-align: center;
}

.panel p {
  margin-top: 25%;
  width: 70%;
  margin-left: 15%;
}

.left-side {
  width: 25%;
  float: left;
  transform: translateX(-200%);
  transition: transform 1.5s ease-in;
}

.left-side-new {
  transform: translateX(0);
}

.right-side {
  width: 25%;
  float: left;
  transform: translateX(200%);
  transition: transform 1.5s ease-in;
}

.right-side-new {
  transform: translateX(0);
}

.middle {
  width: 50%;
  float: left;
}

.overlay-about {
  width: 90%;
}

.overlay-header {
  position: relative;
  background-color: #eb4a1a;
  width: 100%;
  height: 350px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.5s;
  transition-duration: 3.5s;
  margin-top: 1%;
  margin-bottom: 1%;
}

.overlay-about h2 {
  font-size: 3vw;
  line-height: 350px;
  letter-spacing: 10pt;
}

.overlay-about span {
  font-size: 4vw;
}

.disappear {
  opacity: 0;
}

.image1 {
  width: 100%;
  background-image: url("../images/sushi11.jpg");
  background-size: 100% 100%;
}

.image2 {
  width: 100%;
  background-image: url("../images/bar.jpg");
  background-size: 100% 100%;
}

.image3 {
  width: 100%;
  background-image: url("../images/sushi7.jpg");
  background-size: 100% 100%;
}

.image3 h2 {
  font-size: 2.5vw;
  letter-spacing: 6pt;
}

.image3 span {
  font-size: 3vw;
}

.image4 {
  width: 100%;
  background-image: url("../images/dinner2.jpg");
  background-size: 100% 100%;
}

.image4 h2 {
  font-size: 2.75vw;
  letter-spacing: 10pt;
}

.image4 span {
  font-size: 3.25vw;
}

#loader-footer {
  clear: both;
  width: 100%;
}

#loader-footer .hd-ft-bar {
  padding-bottom: 20px;
}

.social-media {
  width: 30%;
  float: left;
}

.copyright {
  width: 40%;
  float: left;
  text-align: center;
  padding-left: 3%;
}

.fab {
  margin-left: 5%;
  align-content: right;
  width: 50px;
}

.margarita img {
  width: 25px;
  float: right;
  margin-right: 45%;
  margin-top: 5px;
  transition-duration: 1.5s;
}

.margarita img:hover {
  width: 30px;
}

#created {
  width: 20%;
  float: left;
  text-align: right;
  padding-left: 10%;
}

#hand-print {
  width: 10%;
  float: left;
  padding-right: 30%;
}

@media screen and (max-width: 1160px) and (min-width: 901px) {
  #loader-nav .nav-link {
    letter-spacing: 6px;
  }

  #loader-nav .hd-ft-bar span {
    padding-left: 8%;
    padding-right: 8%;
  }

  .navbar-nav {
    margin-left: 0%;
  }

  .headers {
    font-size: 25pt;
    letter-spacing: 8px;
    line-height: 3em;
  }

  .headers span {
    font-size: 15pt;
  }

  .middle {
    width: 70%;
    margin-left: 15%;
  }

  .overlay-about {
    width: 100%;
  }

  .overlay-about h2 {
    font-size: 4vw;
  }

  .overlay-about span {
    font-size: 5vw;
  }

  .image3 h2 {
    font-size: 3.5vw;
  }

  .image3 span {
    font-size: 4vw;
  }

  .image4 h2 {
    font-size: 3.75vw;
  }

  .image4 span {
    font-size: 4.25vw;
  }
}
@media screen and (max-width: 900px) and (min-width: 450px) {
  .headers {
    font-size: 25pt;
    letter-spacing: 8px;
    line-height: 3em;
  }

  .headers span {
    font-size: 15pt;
  }

  .left-side-new {
    display: none;
  }

  .right-side-new {
    display: none;
  }

  .panel p {
    display: none;
  }

  .middle {
    width: 100%;
    margin-left: 0%;
  }

  .overlay-about {
    width: 100%;
  }

  .overlay-about h2 {
    font-size: 5vw;
  }

  .overlay-about span {
    font-size: 6vw;
  }
}
@media screen and (max-width: 1160px) and (min-width: 0px) {
  .left-side-new {
    display: none;
  }

  .right-side-new {
    display: none;
  }

  .panel p {
    display: none;
  }
}
@media screen and (max-width: 991px) and (min-width: 0px) {
  #loader-nav .hd-ft-bar {
    display: none;
  }
}
@media screen and (max-width: 960px) and (min-width: 650px) {
  .landing-header {
    width: 60%;
  }

  .landing-headline {
    font-size: 5.5vw;
    padding-top: 1em;
    font-size: 6.5vh;
  }

  .landing-subtext {
    font-size: 2vw;
    margin-top: 3em;
  }
}
@media screen and (max-width: 649px) and (min-width: 480px) {
  .landing-header {
    width: 70%;
  }

  .landing-headline {
    font-size: 20pt;
    padding-top: 2em;
    font-size: 4.5vh;
  }

  .landing-subtext {
    font-size: 12pt;
    margin-top: 6em;
  }
}
@media screen and (max-width: 479px) and (min-width: 0px) {
  .landing-header {
    width: 80%;
  }

  .landing-headline {
    font-size: 20pt;
    padding-top: 2em;
    font-size: 4.5vh;
  }

  .landing-subtext {
    font-size: 12pt;
    margin-top: 4em;
  }
}
@media screen and (max-width: 1200px) and (min-width: 725px) {
  #loader-footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 40px;
  }

  .copyright {
    line-height: 20px;
  }

  #created {
    line-height: 20px;
  }
}
@media screen and (max-width: 724px) and (min-width: 0px) {
  #loader-footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 120px;
  }

  .social-media {
    width: 100%;
    float: left;
  }

  .copyright {
    line-height: 15px;
    width: 100%;
  }

  .fab {
    margin-left: 0%;
  }

  #created {
    width: 55%;
    line-height: 20px;
    padding-top: 10px;
  }

  #hand-print {
    width: 45%;
    padding-right: 25%;
    line-height: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
