// sass --watch main.scss main.css
$font-style: 'Julius Sans One', 'sans-serif';
$primary-color: black;
$secondary-color:white;
$background-color:rgb(250, 245, 237);
$spanColor: rgb(235, 74, 26);

//shared sections
%backgroundImg{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    height:90vh;
    background-color:$primary-color;   
//second scroll bar issue
}

%iconHover{
    padding:5px;
    color:$spanColor;
    border-top:solid $spanColor 1px;
    border-bottom:solid $spanColor 1px;
    cursor: pointer;
}

body, html{
    font-family:$font-style;
    color:$primary-color;
    background-color:$background-color;
}

.headers{
    font-size:30pt;   
    letter-spacing: 8px;
    line-height: 3em;
}

.headers span{
    font-size:20pt;    
}

.hd-ft-bar{
    background-color:$primary-color;
    color: $secondary-color;
    height:40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    overflow: hidden;
    clear:both;
}

.navbar img{
    margin-left:10%;
    width:100px;
}

#loader-nav .nav-link span{
    font-size: 8pt; 
}

#loader-nav .nav-link{
letter-spacing: 8px;
}

#loader-nav .hd-ft-bar span{
    font-size: 8pt; 
    color:$spanColor;
    padding-left:10%;
    padding-right:10%;

}

.navbar-nav{
    margin-left:15%;
}

#homepage-header{
    width: 40%;
    position:relative;
    margin:auto;
    top:4rem;
    text-align: center;
    color:white;
    height: 80vh;
    overflow: hidden;
 
}

.homepage-headline{
    font-size:7vw;
    font-size:6.5vh;
}


.homepageheader-subtext{
    margin:auto;
    font-size:3vw;
    font-size:3vh;
    width:75%;
    margin-top:1em;
}
.homepageheader-subtext span{
    color:$spanColor;
}

.homepage-headline span{
    color:$spanColor;
}


.landing-image{
    @extend %backgroundImg;
}

.home{
    background-image:url('../images/group-1.jpg')

}
.home-aboutus{
    width:100%;
    background-color:green;
    text-align: center;
    
}


.aboutus-wrapper{
    width:90%;
    background-color:purple;
    border-top:solid blue 2px;
    border-bottom: solid blue 2px;
    margin-bottom:5%;
    float: left;
    margin-left:5%;
}

.aboutus-wrapper img{
max-width: 100%;
max-height: 100%;
}

.panel{
    text-align: center;
}

.panel p{
    margin-top:25%;
    width:70%;
    margin-left:15%;
}

.left-side{
    width:25%;
    background-color:yellow;
    float: left;
}

.right-side{
    width:25%;
    background-color:aqua;
    float: left;
}

.middle{
    width: 50%;
    float: left;
}


// .social-media{

// }

// .menu-appetizers{
//     @extend %section-shared;
// }

// .menu-entree{
//     @extend %section-shared;
// }

// .menu-drinks{
//     @extend %section-shared;
// }

//above are examples below is actual code

@import 'footer';

@import 'mediaScreens';
