.subpage-content h1 {
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  position: relative;
  margin: auto;
  color: white;
  line-height: 300%;
  text-align: center;
}

.fab:hover {
  padding: 5px;
  color: #eb4a1a;
  cursor: pointer;
}

.pdf {
  text-align: center;
  border-bottom: solid #eb4a1a 1px;
  letter-spacing: 0.35em;
  width: 20%;
  margin-left: 40%;
}

body, html {
  font-family: "Julius Sans One", "sans-serif";
  color: white;
  background-color: #3c3c3c;
  font-size: 12pt;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.1em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.2em;
}

.content-container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.navbar {
  min-height: 40px !important;
  background: transparent !important;
  top: 40px;
  z-index: 2;
  color: white !important;
}

.navbar-collapse {
  padding: 0px !important;
  line-height: 0px;
}

.navbar a:hover {
  color: #eb4a1a !important;
}

.navbar span {
  color: white;
}

.hd-ft-bar {
  background-color: black;
  color: white;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  overflow: hidden;
  clear: both;
}

.hd-bar-loc:hover > .hd-word-loc {
  color: #eb4a1a;
}

header .nav-link span {
  font-size: 8pt;
}

header .nav-link {
  letter-spacing: 8px;
}

header .hd-ft-divider {
  font-size: 8pt;
  color: #eb4a1a;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-nav {
  margin: auto;
}

.nav-link {
  color: white !important;
}

.hdBarFadeIn {
  animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  display: none;
}

.landing-header {
  width: 80%;
  position: relative;
  margin: auto;
  text-align: center;
  height: 60vh;
  top: 25%;
}

.landing-headline {
  position: relative;
  font-family: "Rock Salt", cursive;
  font-size: 10em;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
}

.landing-subtext {
  font-size: 2em;
  line-height: 350%;
  margin-top: 10%;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 3s;
}

.landing-subtext span {
  font-family: "Rock Salt", cursive;
  color: #eb4a1a;
}

.landing-headline span {
  color: #eb4a1a;
}

.landing-image {
  background-image: url("../images/group-1.jpg");
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 95vh;
  background-color: black;
  z-index: 1;
}

.landing-image.overlay {
  background: black;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: table;
  width: 100vw;
  height: 95vh;
}

.home-aboutus {
  width: 100%;
  text-align: center;
}

.home-aboutus h2 {
  letter-spacing: 10pt;
  font-family: "Rock Salt", cursive;
}

.home-aboutus span {
  display: inline-block;
  position: relative;
}

.home-aboutus span:before,
.home-aboutus span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: solid #eb4a1a 1px;
  top: 50%;
  width: 50%;
}

.home-aboutus span:before {
  right: 100%;
  margin-right: 15px;
}

.home-aboutus span:after {
  left: 100%;
  margin-left: 15px;
}

.aboutus-wrapper {
  margin-top: 5%;
  width: 90%;
  border-bottom: solid #727070 1px;
  border-top: solid #727070 1px;
  margin-bottom: 10%;
  float: left;
  margin-left: 5%;
  overflow: hidden;
}

.panel {
  text-align: center;
}

.panel p {
  margin-top: 25%;
  width: 70%;
  margin-left: 15%;
  line-height: 2em;
}

.left-side {
  width: 30%;
  float: left;
  transform: translateX(-100%);
  transition: transform 1s ease-in;
}

.left-side-new {
  transform: translateX(0);
}

.right-side {
  width: 30%;
  float: left;
  transform: translateX(100%);
  transition: transform 1s ease-in;
}

.right-side-new {
  transform: translateX(0);
}

.middle {
  width: 40%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.overlay-about {
  width: 90%;
}

.overlay-header {
  position: relative;
  background-color: #eb4a1a;
  width: 100%;
  height: 350px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.5s;
  transition-duration: 3.5s;
  margin-top: 1%;
  margin-bottom: 1%;
}

.overlay-border {
  border: solid 0.5px #e4dede;
  width: 90%;
  height: 80%;
  position: relative;
  margin: auto;
  top: 10%;
}

.overlay-hidden-border {
  border: solid 25px #eb4a1a;
  border-radius: 50px;
  width: 102%;
  height: 104%;
  position: absolute;
  margin: auto;
  top: -5px;
  left: -5px;
}

.overlay-header h5 {
  text-align: center;
  letter-spacing: 6pt;
  position: relative;
  top: 50%;
}

.disappear {
  opacity: 0;
}

.image1 {
  width: 100%;
  background-image: url("../images/sushi11.jpg");
  background-size: 100% 100%;
}

.image2 {
  width: 100%;
  background-image: url("../images/bar.jpg");
  background-size: 100% 100%;
}

.image3 {
  width: 100%;
  background-image: url("../images/sushi7.jpg");
  background-size: 100% 100%;
}

.image3 h5 {
  letter-spacing: 2pt;
}

.image4 {
  width: 100%;
  background-image: url("../images/dinner2.jpg");
  background-size: 100% 100%;
}

footer {
  clear: both;
  width: 100%;
}

footer .hd-ft-bar {
  padding-bottom: 20px;
}

.social-media {
  width: 30%;
  float: left;
}

.copyright {
  width: 40%;
  float: left;
  text-align: center;
  padding-left: 3%;
}

.fab {
  margin-left: 5%;
  align-content: right;
  width: 50px;
}

#hand-print img {
  width: 25px;
  float: right;
  margin-right: 45%;
  margin-top: 5px;
  transition-duration: 1.5s;
}

#hand-print img:hover {
  width: 30px;
}

#created {
  width: 10%;
  float: left;
  text-align: right;
}

#hand-print {
  width: 10%;
  float: left;
}

@media screen and (max-width: 1159px) and (min-width: 901px) {
  header .hd-ft-divider {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (max-width: 990px) and (min-width: 0px) {
  header .hd-ft-bar {
    display: none;
  }
}
@media screen and (max-width: 990px) and (min-width: 0px) {
  .navbar {
    background: rgba(0, 0, 0, 0.85) !important;
    top: 0px;
  }
}
@media screen and (max-width: 1159px) and (min-width: 900px) {
  header .nav-link {
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 900px) and (min-width: 0px) {
  header .nav-link {
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 767px) and (min-width: 0px) {
  .navbar-toggler {
    display: block;
    position: fixed;
    z-index: 3;
  }

  .navbar {
    background: transparent !important;
  }

  ul.navbar-nav {
    margin-top: 25vh;
    text-align: center;
    line-height: 3em;
    height: 100vh;
  }

  li.nav-item span {
    display: none;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  ul.navbar-nav {
    margin-top: 10vh;
    line-height: 2.5em;
  }
}
@media screen and (max-width: 990px) {
  .landing-image {
    height: 100vh;
  }

  .landing-image.overlay {
    height: 100vh;
  }
}
@media screen and (max-width: 1600px) {
  .landing-headline {
    font-size: 9em;
  }
}
@media screen and (max-width: 880px) {
  .landing-headline {
    top: 20%;
    font-size: 8em;
  }
}
@media screen and (max-width: 600px) {
  .landing-headline {
    top: 25%;
    font-size: 6.5em;
    margin-left: 4vw;
  }
}
@media screen and (max-width: 480px) {
  .landing-headline {
    top: 5vh;
    font-size: 20vw;
  }

  .landing-image {
    height: 100vh;
  }

  .landing-image.overlay {
    height: 100vh;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .landing-headline {
    top: 5vw;
    font-size: 9vw;
  }
}
@media screen and (max-width: 1025px) and (orientation: portrait) {
  .landing-headline {
    top: 8vh;
  }
}
@media screen and (max-width: 1200px) {
  .landing-subtext {
    width: 55%;
  }
}
@media screen and (max-width: 1000px) {
  .landing-subtext {
    font-size: 1.75em;
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  .landing-subtext {
    margin-top: 30%;
  }
}
@media screen and (max-width: 650px) {
  .landing-subtext {
    border-top: none;
    padding-bottom: 12px;
    line-height: 10%;
    font-size: 1.5em;
    width: 80%;
    margin-top: 25vh !important;
  }
}
@media screen and (max-width: 480px) {
  .landing-subtext {
    font-size: 4vw;
    width: 80%;
    margin-top: 20vh;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .landing-subtext {
    font-size: 2.5vw;
    margin-top: 12vw;
    border-top: none;
    padding-bottom: 12px;
    line-height: 10%;
  }
}
@media screen and (max-width: 1025px) and (orientation: portrait) {
  .landing-subtext {
    margin-top: 14vh;
  }
}
@media screen and (max-width: 1400px) {
  .home-aboutus h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 600px) {
  .home-aboutus h2 {
    font-size: 1.75em;
    line-height: 200%;
  }
}
@media screen and (max-width: 600px) {
  .home-aboutus h2 {
    font-size: 1.75em;
    line-height: 200%;
  }

  .home-aboutus span:before,
.home-aboutus span:after {
    border-bottom: none;
  }
}
@media screen and (max-width: 400px) {
  .home-aboutus h2 {
    font-size: 1.5em;
    line-height: 300%;
    letter-spacing: 6pt;
  }
}
@media screen and (max-width: 1400px) {
  .middle {
    width: 70%;
  }

  .overlay-about {
    width: 100%;
  }

  .overlay-about h2 {
    font-size: 4vw;
  }

  .overlay-about span {
    font-size: 5vw;
  }

  .image3 h2 {
    font-size: 3.5vw;
  }

  .image3 span {
    font-size: 4vw;
  }

  .image4 h2 {
    font-size: 3.75vw;
  }

  .image4 span {
    font-size: 4.25vw;
  }

  .left-side {
    width: 15%;
  }

  .right-side {
    width: 15%;
  }

  .panel p {
    margin-left: 15%;
    font-size: 10pt;
  }
}
@media screen and (max-width: 1650px) {
  .middle {
    width: 50%;
  }

  .right-side {
    width: 25%;
  }

  .left-side {
    width: 25%;
  }
}
@media screen and (max-width: 1250px) {
  .middle {
    margin-left: 15%;
    width: 70%;
  }

  .panel p {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .aboutus-wrapper {
    width: 100%;
    margin-left: 0%;
  }

  .middle {
    margin-left: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .aboutus-wrapper {
    border-top: none;
  }

  .aboutus-wrapper:nth-of-type(4) {
    border-bottom: none;
    margin-bottom: -8px;
  }

  .aboutus-wrapper:nth-of-type(1) {
    margin-top: -8px;
  }

  .middle {
    margin-left: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .home-aboutus {
    margin-top: 0vh;
  }

  .aboutus-wrapper {
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    border-bottom: none;
  }

  .overlay-header {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .overlay-hidden-border {
    border: none;
  }

  .overlay-border {
    border: none;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .aboutus-wrapper {
    margin-left: 0;
    padding-top: 5vw;
  }

  .aboutus-wrapper:nth-of-type(4) {
    margin-bottom: 5vw;
  }

  .middle {
    margin-left: 0%;
  }

  .overlay-about {
    margin-left: 5vw;
    height: 65vh;
    width: 90vw;
  }

  .overlay-header {
    height: 65vh;
    width: 90vw;
  }

  .overlay-header h5 {
    font-size: 5vw;
    top: 20vh;
    letter-spacing: 2vw;
  }

  .overlay-header span {
    display: block;
    padding-top: 1.25em;
    padding-top: 1.25em;
    margin: 0;
  }

  .overlay-border, .overlay-hidden-border {
    border: none;
  }

  .overlay-hidden-border {
    top: 0;
    left: 0;
  }

  .image1 {
    background-image: url("../images/mediasushi1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image2 {
    background-image: url("../images/mediabar1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image3 {
    background-image: url("../images/mediasushi2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image4 {
    background-image: url("../images/mediadinner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 999px) and (min-width: 550px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 120px;
  }

  .social-media {
    width: 100%;
    float: left;
  }

  .copyright {
    line-height: 0px;
    width: 100%;
  }

  .fab {
    margin-left: 0%;
  }

  #created {
    width: 55%;
    line-height: 0px;
    padding-top: 10px;
  }

  #hand-print {
    width: 45%;
    padding-right: 35%;
    line-height: 0px;
    position: relative;
    top: -5px;
  }
}
@media screen and (max-width: 549px) and (min-width: 0px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 150px;
  }

  .social-media {
    width: 100%;
    float: left;
  }

  .copyright {
    line-height: 20px;
    width: 100%;
  }

  .fab {
    margin-left: 0%;
  }

  #created {
    width: 55%;
    line-height: 0px;
    padding-top: 10px;
  }

  #hand-print {
    width: 45%;
    padding-right: 25%;
    line-height: 0px;
    position: relative;
    top: -5px;
  }
}
.subpage-banner {
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  height: 100vh;
}

.subpage-overlay {
  height: 100vh !important;
  position: relative;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  display: table;
}

.subpage-content {
  position: relative;
  top: 50vh;
  width: 30%;
  margin: auto;
  height: 0px;
}

.subpage-content h1 {
  font-family: "Rock Salt", cursive;
}

.subpage-content h5 {
  margin: auto;
  animation-duration: 3s;
}

@keyframes shrink {
  from {
    letter-spacing: 0.05em;
  }
  to {
    letter-spacing: 0em;
  }
}
.location {
  text-align: center;
}

.location li {
  display: inline;
}

.location-wrapper {
  padding-top: 50px;
}

#map-slp, #map-edina {
  width: 65%;
  height: 45vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vw;
}

.location-wrapper h3 {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
  letter-spacing: 0.55em;
}

.mapimage {
  height: 100%;
  background-repeat: no-repeat;
}

.mapimage:hover {
  cursor: pointer;
}

#map-slp .mapimage {
  background: url("../images/slpmap.jpg");
  background-position-x: 35%;
  background-position-y: 50%;
}

#map-edina .mapimage {
  background: url("../images/edinamap.jpg");
  background-position: center;
}

.location ul {
  min-height: 100px;
  letter-spacing: 0.45em;
  line-height: 2.5em;
}

.location ul:first-of-type :nth-child(2n+2) {
  color: #eb4a1a;
}

.location ul:nth-of-type(2) {
  padding-top: 5%;
}

.line-break {
  width: 90%;
  border-bottom: #eb4a1a solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.menu-buttons :first-child {
  margin-left: 3%;
}

.menu-buttons div {
  position: relative;
  top: 5vh;
  width: 30%;
  float: left;
  margin: 1%;
  text-align: center;
}

.menu-buttons div h3 {
  line-height: 2em;
}

#happy-hour-button {
  border-right: solid 1px #eb4a1a;
  border-left: solid 1px #eb4a1a;
}

.menu-buttons div h3:hover {
  color: #eb4a1a;
  cursor: pointer;
}

#m-lunch, #m-dinner, #m-happyhour {
  padding-bottom: 10vw;
}

#m-dinner {
  margin-bottom: 10vw;
}

.menu-buttons :first-child {
  margin-left: 0%;
}

#dinner-button {
  margin-bottom: 20vw;
}

.menu-buttons div {
  top: 4vh;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  margin-top: 0%;
  color: white;
}

.menu-buttons h3 {
  width: 60vw;
  border: solid 1px white;
  margin-left: 20vw !important;
}

#happy-hour-button {
  border-right: none;
  border-left: none;
}

.menu-items h4 {
  margin-top: 10%;
}

.menu-items div {
  width: 80%;
  margin: auto;
}

.menu-buttons h4 {
  border-bottom: solid 0.25px #eb4a1a;
  width: 30vw;
  margin-left: 35vw !important;
  margin-top: 8%;
  margin-bottom: 8%;
}

.menu-buttons span {
  color: #eb4a1a;
  padding: 5px;
}

.pdf {
  margin-bottom: 5%;
}

.pdf:hover {
  color: #eb4a1a;
}

.subpage-content img:first-child {
  width: 100%;
  height: 65vh;
}

.subpage-overlay {
  height: 65vh;
  position: relative;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  display: table;
}

.subpage-content {
  margin-top: -65vh;
}

.subpage-content h1 {
  top: -50vh;
}

.subpage-content h2 {
  line-height: 200%;
}

.subpage-content h5 {
  text-align: center;
  position: relative;
  top: -45vh;
  color: white;
}

.content-container {
  max-width: none;
}

.delivery-services {
  text-align: center;
  width: 100%;
}

.delivery-services img {
  width: 900px;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  position: relative;
  top: -250px;
  display: block;
}

.delivery-services img:hover {
  cursor: pointer;
}

#bs {
  background-image: url("../images/menu-banner2.jpg");
}

#pm {
  background-image: url("../images/possiblebanner.jpg");
}

#ue {
  background-image: url("../images/scrollthru5.jpg");
}

#dd {
  background-image: url("../images/scrollthru4.jpg");
}

#bs, #pm, #ue, #dd {
  background-size: cover;
  background-position: center;
  height: 250px;
  border-top: solid white 5px;
}

#bs .delivery-overlay, #dd .delivery-overlay, #pm .delivery-overlay, #ue .delivery-overlay {
  opacity: 0.5;
  height: 245px;
  position: relative;
  left: 0;
  top: 0;
  display: table;
  width: 100%;
}

#pm .delivery-overlay, #ue .delivery-overlay {
  background: white;
}

#bs .delivery-overlay, #dd .delivery-overlay {
  background: black;
}

.modal-body {
  padding: 0px;
}

.modal {
  background: rgba(0, 0, 0, 0.9);
}

.modal-dialog,
.modal-content {
  color: white;
  background-color: transparent !important;
}

.modal-slp {
  background-color: white !important;
  border-bottom-left-radius: 5px;
}

.modal-edina {
  border-bottom-right-radius: 5px;
  background-color: #3c3c3c;
}

.modal-slp p:first-of-type {
  letter-spacing: 1.25em;
  color: black;
}

.modal-slp,
.modal-edina {
  text-align: center;
  float: left;
  width: 50%;
  height: 50px;
}

.modal-slp p, .modal-edina p {
  letter-spacing: 0.5em;
  margin-top: 5%;
}

.modal-slp p:first-of-type:hover {
  color: #eb4a1a;
  cursor: pointer;
}

a[href=none] {
  pointer-events: none;
}

.unavailable {
  display: none;
  background-color: #eb4a1a;
  position: relative;
  top: -17px;
  letter-spacing: none !important;
  font-size: 0.7em;
  width: 100%;
  border-bottom-left-radius: 5px;
}

.mid-modal {
  height: 235px;
  background-color: #1f1e1e;
  font-size: 0.5em;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.mid-modal h1 {
  margin-top: 10%;
  letter-spacing: 1em;
  line-height: 2em;
}

.close-button {
  text-align: left;
  font-family: "Rock Salt", cursive;
  position: relative;
  left: 25px;
  top: 15px;
  width: 10%;
}

.close-button:hover, .modal-edina:hover {
  cursor: pointer;
  color: #eb4a1a;
}

@media screen and (max-width: 1400px) {
  .subpage-content {
    width: 35%;
  }
}
@media screen and (max-width: 1200px) {
  .subpage-content {
    width: 40%;
  }
}
@media screen and (max-width: 990px) {
  .subpage-content {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .subpage-content {
    width: 70%;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .subpage-content {
    top: 50vh;
  }
}
@media screen and (max-width: 550px) {
  .subpage-content h5 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .subpage-content h1 {
    font-size: 10vw;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .location-wrapper {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 900px) and (orientation: portrait) {
  .location-wrapper {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .location-wrapper h3 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 568px) {
  .location-wrapper h3 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .location-wrapper h3 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 1450px) {
  #map-slp, #map-edina {
    width: 90%;
  }
}
@media screen and (max-width: 1150px) {
  #map-slp, #map-edina {
    width: 98%;
    height: 45vh;
  }
}
@media screen and (max-width: 1150px) and (orientation: portrait) {
  #map-slp, #map-edina {
    width: 70%;
    height: 65vh;
  }
}
@media screen and (max-width: 900px) and (orientation: portrait) {
  #map-slp, #map-edina {
    width: 90%;
    height: 65vh;
  }

  #map-slp .mapimage {
    background-position-x: 43%;
    background-position-y: 35%;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  #map-slp, #map-edina {
    width: 98%;
    height: 85vh;
  }

  #map-slp .mapimage {
    background-position-x: 44%;
    background-position-y: 45%;
  }
}
@media screen and (max-width: 768px) {
  .location ul {
    font-size: 2vw;
  }
}
@media screen and (max-width: 568px) {
  .location ul {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 400px) {
  .location ul {
    font-size: 3vw;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .location ul {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .menu-buttons h4 {
    font-size: 5vw;
  }

  .menu-buttons h3 {
    width: 90vw;
    margin-left: 5vw !important;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .menu-buttons p {
    font-size: 4vw;
  }

  .menu-buttons h3 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 1200px) {
  .pdf {
    width: 30vw;
    margin-left: 35vw;
  }
}
@media screen and (max-width: 865px) {
  .pdf {
    width: 50vw;
    margin-left: 25vw;
    margin-top: 20vw;
  }
}
@media screen and (max-width: 700px) {
  .pdf {
    margin-top: 30vw;
  }
}
@media screen and (max-width: 550px) {
  .pdf {
    width: 70vw;
    margin-left: 15vw;
    font-size: 3.5vw;
    margin-top: 40vw;
  }
}
@media screen and (max-width: 900px) {
  .delivery-services img {
    width: 750px;
    min-width: 750px;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .delivery-services img {
    top: -28vw;
    width: 100%;
    min-width: 0px;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .delivery-services img {
    top: -30vw;
  }
}
@media screen and (max-width: 700px) and (orientation: landscape) {
  .delivery-services img {
    top: -32vw;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .delivery-services img {
    top: -35vw;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  #bs, #pm, #ue, #dd {
    height: 75vh;
  }

  #bs .delivery-overlay, #dd .delivery-overlay, #pm .delivery-overlay, #ue .delivery-overlay {
    height: 74.75vh;
  }

  [data-is=ubereats] {
    content: url("../images/delivery/ms-ubereats.png");
  }

  [data-is=bitesquad] {
    content: url("../images/delivery/ms-bitesquad.png");
  }

  [data-is=postmates] {
    content: url("../images/delivery/ms-postmates.png");
  }

  [data-is=doordash] {
    content: url("../images/delivery/ms-doordash.png");
  }

  .delivery-services img {
    min-width: 0px;
    top: -90%;
    width: 70vw;
    height: 70vw;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .delivery-services img {
    top: -80%;
  }
}
@media screen and (max-width: 500px) and (orientation: portrait) {
  .delivery-services img {
    top: -75%;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .mid-modal {
    height: 80vh;
  }

  .mid-modal h1 {
    margin-top: 45%;
    letter-spacing: 0.75em;
    line-height: 3.5em;
  }

  .unavailable {
    top: -15px;
  }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
  .mid-modal h1 {
    letter-spacing: 0.5em;
  }

  .unavailable {
    top: -2vw;
    font-size: 2vw;
  }
}
@media screen and (max-width: 300px) and (orientation: portrait) {
  .unavailable {
    top: -1.5vw;
    font-size: 2.5vw;
  }
}

/*# sourceMappingURL=master-stylesheet.css.map */
