.subpage-content h1 {
  border-top: solid white 1px;
  border-bottom: solid white 1px;
  position: relative;
  margin: auto;
  color: white;
  line-height: 300%;
  text-align: center;
}

.fab:hover {
  padding: 5px;
  color: #eb4a1a;
  cursor: pointer;
}

.closeButton, .pdf {
  text-align: center;
  border-bottom: solid #eb4a1a 1px;
  letter-spacing: 0.35em;
  width: 20%;
  margin-left: 40%;
}

body, html {
  font-family: "Julius Sans One", "sans-serif";
  color: white;
  background-color: #3c3c3c;
  font-size: 12pt;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.1em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.2em;
}

.content-container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.navbar {
  min-height: 40px !important;
  background: transparent !important;
  top: 40px;
  z-index: 2;
  color: white !important;
}

.navbar-collapse {
  padding: 0px !important;
  line-height: 0px;
}

.navbar a:hover {
  color: #eb4a1a !important;
}

.navbar span {
  color: white;
}

.hd-ft-bar {
  background-color: black;
  color: white;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  overflow: hidden;
  clear: both;
}

.hd-bar-loc:hover > .hd-word-loc {
  color: #eb4a1a;
}

header .nav-link span {
  font-size: 8pt;
}

header .nav-link {
  letter-spacing: 8px;
}

header .hd-ft-divider {
  font-size: 8pt;
  color: #eb4a1a;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-nav {
  margin: auto;
}

.nav-link {
  color: white !important;
}

.hdBarFadeIn {
  animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  display: none;
}

.landing-header {
  width: 80%;
  position: relative;
  margin: auto;
  text-align: center;
  height: 60vh;
  top: 25%;
}

.landing-headline {
  position: relative;
  font-family: "Rock Salt", cursive;
  font-size: 10em;
  letter-spacing: 0.25em;
  margin-left: auto;
  margin-right: auto;
}

.landing-subtext {
  font-size: 2em;
  border-top: solid #eb4a1a 1px;
  border-bottom: solid #eb4a1a 1px;
  line-height: 350%;
  margin-top: 10%;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 3s;
}

.landing-headline span {
  color: #eb4a1a;
}

.landing-image {
  background-image: url("../images/group-1.jpg");
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 95vh;
  background-color: black;
  z-index: 1;
}

.landing-image.overlay {
  background: black;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: table;
  width: 100vw;
  height: 95vh;
}

.home-aboutus {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

.home-aboutus h2 {
  letter-spacing: 10pt;
  font-family: "Rock Salt", cursive;
}

.home-aboutus span {
  display: inline-block;
  position: relative;
}

.home-aboutus span:before,
.home-aboutus span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: solid #eb4a1a 1px;
  top: 50%;
  width: 50%;
}

.home-aboutus span:before {
  right: 100%;
  margin-right: 15px;
}

.home-aboutus span:after {
  left: 100%;
  margin-left: 15px;
}

.aboutus-wrapper {
  margin-top: 5%;
  width: 90%;
  border-bottom: solid #727070 1px;
  border-top: solid #727070 1px;
  margin-bottom: 10%;
  float: left;
  margin-left: 5%;
  overflow: hidden;
}

.panel {
  text-align: center;
}

.panel p {
  margin-top: 25%;
  width: 70%;
  margin-left: 15%;
  line-height: 2em;
}

.left-side {
  width: 30%;
  float: left;
  transform: translateX(-100%);
  transition: transform 1s ease-in;
}

.left-side-new {
  transform: translateX(0);
}

.right-side {
  width: 30%;
  float: left;
  transform: translateX(100%);
  transition: transform 1s ease-in;
}

.right-side-new {
  transform: translateX(0);
}

.middle {
  width: 40%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.overlay-about {
  width: 90%;
}

.overlay-header {
  position: relative;
  background-color: #eb4a1a;
  width: 100%;
  height: 350px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.5s;
  transition-duration: 3.5s;
  margin-top: 1%;
  margin-bottom: 1%;
}

.overlay-border {
  border: solid 0.5px #e4dede;
  width: 90%;
  height: 80%;
  position: relative;
  margin: auto;
  top: 10%;
}

.overlay-hidden-border {
  border: solid 25px #eb4a1a;
  border-radius: 50px;
  width: 102%;
  height: 104%;
  position: absolute;
  margin: auto;
  top: -5px;
  left: -5px;
}

.overlay-header h5 {
  text-align: center;
  letter-spacing: 6pt;
  position: relative;
  top: 50%;
}

.disappear {
  opacity: 0;
}

.image1 {
  width: 100%;
  background-image: url("../images/sushi11.jpg");
  background-size: 100% 100%;
}

.image2 {
  width: 100%;
  background-image: url("../images/bar.jpg");
  background-size: 100% 100%;
}

.image3 {
  width: 100%;
  background-image: url("../images/sushi7.jpg");
  background-size: 100% 100%;
}

.image3 h5 {
  letter-spacing: 2pt;
}

.image4 {
  width: 100%;
  background-image: url("../images/dinner2.jpg");
  background-size: 100% 100%;
}

footer {
  clear: both;
  width: 100%;
}

footer .hd-ft-bar {
  padding-bottom: 20px;
}

.social-media {
  width: 30%;
  float: left;
}

.copyright {
  width: 40%;
  float: left;
  text-align: center;
  padding-left: 3%;
}

.fab {
  margin-left: 5%;
  align-content: right;
  width: 50px;
}

#hand-print img {
  width: 25px;
  float: right;
  margin-right: 45%;
  margin-top: 5px;
  transition-duration: 1.5s;
}

#hand-print img:hover {
  width: 30px;
}

#created {
  width: 10%;
  float: left;
  text-align: right;
}

#hand-print {
  width: 10%;
  float: left;
}

@media screen and (max-width: 1159px) and (min-width: 901px) {
  header .hd-ft-divider {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (max-width: 990px) and (min-width: 0px) {
  header .hd-ft-bar {
    display: none;
  }
}
@media screen and (max-width: 990px) and (min-width: 0px) {
  .navbar {
    background: rgba(0, 0, 0, 0.85) !important;
    top: 0px;
  }
}
@media screen and (max-width: 1159px) and (min-width: 900px) {
  header .nav-link {
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 900px) and (min-width: 0px) {
  header .nav-link {
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 767px) and (min-width: 0px) {
  .navbar-toggler {
    display: block;
    position: fixed;
    z-index: 3;
  }

  .navbar {
    background: transparent !important;
  }

  ul.navbar-nav {
    margin-top: 25vh;
    text-align: center;
    line-height: 3em;
    height: 100vh;
  }

  li.nav-item span {
    display: none;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  ul.navbar-nav {
    margin-top: 10vh;
    line-height: 2.5em;
  }
}
@media screen and (max-width: 990px) {
  .landing-image {
    height: 100vh;
  }

  .landing-image.overlay {
    height: 100vh;
  }
}
@media screen and (max-width: 1600px) {
  .landing-headline {
    font-size: 9em;
  }
}
@media screen and (max-width: 880px) {
  .landing-headline {
    top: 20%;
    font-size: 8em;
  }
}
@media screen and (max-width: 600px) {
  .landing-headline {
    top: 25%;
    font-size: 6.5em;
  }
}
@media screen and (max-width: 480px) {
  .landing-headline {
    top: 5vh;
    font-size: 14vw;
  }

  .landing-image {
    height: 100vh;
  }

  .landing-image.overlay {
    height: 100vh;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .landing-headline {
    top: 5vw;
    font-size: 9vw;
  }
}
@media screen and (max-width: 1025px) and (orientation: portrait) {
  .landing-headline {
    top: 8vh;
  }
}
@media screen and (max-width: 1200px) {
  .landing-subtext {
    width: 55%;
  }
}
@media screen and (max-width: 1000px) {
  .landing-subtext {
    font-size: 1.75em;
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  .landing-subtext {
    margin-top: 30%;
  }
}
@media screen and (max-width: 650px) {
  .landing-subtext {
    border-top: none;
    padding-bottom: 12px;
    line-height: 10%;
    font-size: 1.5em;
    width: 80%;
    margin-top: 20vh !important;
  }
}
@media screen and (max-width: 480px) {
  .landing-subtext {
    font-size: 4vw;
    width: 80%;
    margin-top: 15vh;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .landing-subtext {
    font-size: 2.5vw;
    margin-top: 12vw;
    border-top: none;
    padding-bottom: 12px;
    line-height: 10%;
  }
}
@media screen and (max-width: 1025px) and (orientation: portrait) {
  .landing-subtext {
    margin-top: 14vh;
  }
}
@media screen and (max-width: 1400px) {
  .home-aboutus h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 600px) {
  .home-aboutus h2 {
    font-size: 1.75em;
    line-height: 200%;
  }
}
@media screen and (max-width: 600px) {
  .home-aboutus h2 {
    font-size: 1.75em;
    line-height: 200%;
  }

  .home-aboutus span:before,
.home-aboutus span:after {
    border-bottom: none;
  }
}
@media screen and (max-width: 400px) {
  .home-aboutus h2 {
    font-size: 1.5em;
    line-height: 300%;
    letter-spacing: 6pt;
  }
}
@media screen and (max-width: 1400px) {
  .middle {
    width: 70%;
  }

  .overlay-about {
    width: 100%;
  }

  .overlay-about h2 {
    font-size: 4vw;
  }

  .overlay-about span {
    font-size: 5vw;
  }

  .image3 h2 {
    font-size: 3.5vw;
  }

  .image3 span {
    font-size: 4vw;
  }

  .image4 h2 {
    font-size: 3.75vw;
  }

  .image4 span {
    font-size: 4.25vw;
  }

  .left-side {
    width: 15%;
  }

  .right-side {
    width: 15%;
  }

  .panel p {
    margin-left: 15%;
    font-size: 10pt;
  }
}
@media screen and (max-width: 1650px) {
  .middle {
    width: 50%;
  }

  .right-side {
    width: 25%;
  }

  .left-side {
    width: 25%;
  }
}
@media screen and (max-width: 1250px) {
  .middle {
    margin-left: 15%;
    width: 70%;
  }

  .panel p {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .aboutus-wrapper {
    width: 100%;
    margin-left: 0%;
  }

  .middle {
    margin-left: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .aboutus-wrapper {
    border-bottom: none;
    border-top: none;
  }

  .middle {
    margin-left: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .home-aboutus {
    margin-top: 0vh;
  }

  .aboutus-wrapper {
    margin-top: -8px;
    width: 100%;
    margin-bottom: -8px;
    margin-left: 0%;
  }

  .overlay-header {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .overlay-hidden-border {
    border: none;
  }

  .overlay-border {
    border: none;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .aboutus-wrapper {
    margin-left: 0;
  }

  .middle {
    margin-left: 0%;
  }

  .overlay-about {
    margin-left: 1vw;
    height: 70vh;
    width: 98vw;
  }

  .overlay-header {
    height: 70vh;
    width: 98vw;
  }

  .overlay-header h5 {
    font-size: 5vw;
    top: 20vh;
    letter-spacing: 3vw;
  }

  .overlay-header span {
    display: block;
    padding-top: 3em;
    padding-top: 3em;
    margin: 0;
  }

  .overlay-border, .overlay-hidden-border {
    border: none;
  }

  .overlay-hidden-border {
    top: 0;
    left: 0;
  }

  .image1 {
    background-image: url("../images/mediasushi1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image2 {
    background-image: url("../images/mediabar1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image3 {
    background-image: url("../images/mediasushi2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image4 {
    background-image: url("../images/mediadinner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 999px) and (min-width: 550px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 120px;
  }

  .social-media {
    width: 100%;
    float: left;
  }

  .copyright {
    line-height: 0px;
    width: 100%;
  }

  .fab {
    margin-left: 0%;
  }

  #created {
    width: 55%;
    line-height: 0px;
    padding-top: 10px;
  }

  #hand-print {
    width: 45%;
    padding-right: 35%;
    line-height: 0px;
    position: relative;
    top: -5px;
  }
}
@media screen and (max-width: 549px) and (min-width: 0px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 150px;
  }

  .social-media {
    width: 100%;
    float: left;
  }

  .copyright {
    line-height: 20px;
    width: 100%;
  }

  .fab {
    margin-left: 0%;
  }

  #created {
    width: 55%;
    line-height: 0px;
    padding-top: 10px;
  }

  #hand-print {
    width: 45%;
    padding-right: 25%;
    line-height: 0px;
    position: relative;
    top: -5px;
  }
}
.subpage-banner {
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  height: 100vh;
}

.subpage-overlay {
  height: 100vh !important;
  position: relative;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  display: table;
}

.subpage-content {
  position: relative;
  top: 50vh;
  width: 30%;
  margin: auto;
  height: 0px;
}

.subpage-content h1 {
  font-family: "Rock Salt", cursive;
}

.subpage-content h5 {
  margin: auto;
  animation-duration: 3s;
}

@keyframes shrink {
  from {
    letter-spacing: 0.05em;
  }
  to {
    letter-spacing: 0em;
  }
}
.location {
  text-align: center;
}

.location-header {
  margin-top: 2%;
}

.location li {
  display: inline;
}

.location-wrapper:nth-child(odd) {
  background-color: white;
}

.location-wrapper:nth-child(even) {
  background-color: #3c3c3c;
}

.location-wrapper {
  width: 100%;
  padding-top: 50px;
  height: 90vh;
}

.slp {
  color: black;
}

.location ul :nth-child(2n+2) {
  color: #eb4a1a;
}

.location ul {
  width: 60%;
  margin-left: 20%;
  min-height: 100px;
}

#map-slp, #map-edina {
  width: 80%;
  height: 40vh;
  margin-left: 10%;
}

#map-slp {
  border-top: solid #3c3c3c 1px;
  border-bottom: solid #3c3c3c 1px;
}

#map-edina {
  border-top: solid white 1px;
  border-bottom: solid white 1px;
}

.edina, .slp {
  width: 80%;
  margin-left: 10%;
}

iframe {
  padding-top: 20px;
  padding-bottom: 20px;
}

.location-header h3 {
  width: 45%;
  border-bottom: solid 1px #eb4a1a;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
}

.menu-buttons {
  height: 35vh;
}

.menu-buttons :first-child {
  margin-left: 3%;
}

.menu-buttons div {
  position: relative;
  top: 5vh;
  width: 30%;
  float: left;
  margin: 1%;
  text-align: center;
}

.menu-buttons div h3 {
  line-height: 2em;
}

#happy-hour-button {
  border-right: solid 1px #eb4a1a;
  border-left: solid 1px #eb4a1a;
}

.menu-buttons div h3:hover {
  color: #eb4a1a;
  cursor: pointer;
}

.menu-items {
  text-align: center;
  margin-bottom: 5%;
}

.menu-items span {
  color: #eb4a1a;
  margin: 10px;
}

.menu-items h4 {
  margin-top: 2%;
  margin-bottom: 2%;
  border-bottom: solid 0.25px #eb4a1a;
  line-height: 80%;
  display: inline-block;
}

.pdf {
  margin-bottom: 5%;
}

.pdf:hover {
  color: #eb4a1a;
}

.subpage-content img:first-child {
  width: 100%;
  height: 65vh;
}

.subpage-overlay {
  height: 65vh;
  position: relative;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  display: table;
}

.subpage-content {
  margin-top: -65vh;
}

.subpage-content h1 {
  top: -50vh;
}

.subpage-content h2 {
  line-height: 200%;
}

.subpage-content h5 {
  text-align: center;
  position: relative;
  top: -45vh;
  color: white;
}

.delivery-services {
  text-align: center;
}

.delivery-services img {
  display: block;
  margin-left: 25%;
  width: 50%;
  padding: 2%;
  min-height: 150px;
  z-index: 1;
  position: relative;
  top: -255px;
}

.delivery-services img:hover {
  cursor: pointer;
}

.delivery-services > div {
  min-height: 300px;
  border-top: solid white 2px;
  width: 100%;
  margin: auto;
}

#bs {
  background-image: url("../images/menu-banner2.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#pm {
  background-image: url("../images/possiblebanner.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#ue {
  background-image: url("../images/scrollthru5.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#dd {
  background-image: url("../images/scrollthru4.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#bs .delivery-overlay, #dd .delivery-overlay {
  background: black;
  opacity: 0.5;
  height: 298px;
  position: relative;
  left: 0;
  top: 0px;
  z-index: 1;
  display: table;
  width: 100%;
}

#pm .delivery-overlay, #ue .delivery-overlay {
  background: white;
  opacity: 0.5;
  height: 298px;
  position: relative;
  left: 0;
  top: 0px;
  z-index: 1;
  display: table;
  width: 100%;
}

.modal {
  background: rgba(0, 0, 0, 0.9);
}

.modal-body {
  display: flex;
  justify-content: center;
}

.modal-dialog {
  max-width: 60%;
  height: 700px;
}

.modal-dialog,
.modal-content {
  color: white;
  background-color: transparent !important;
  height: 40%;
  padding: 0px !important;
  border: none !important;
}

.modal-slp,
.modal-edina {
  text-align: center;
  height: 150px;
  float: left;
  width: 35%;
}

.modal-slp p, .modal-edina p {
  width: 50%;
  margin-left: 25%;
  position: relative;
  top: -55px;
}

a[href$=none] {
  opacity: 0.2;
  pointer-events: none;
}

.unavailable {
  display: none;
  position: absolute;
  top: 10px;
}

.icon-background6 {
  width: 100px;
  color: #eb4a1a;
}

.modal h3 {
  font-family: "Rock Salt", cursive;
  position: relative;
  top: -80px;
  left: 0px;
}

.mid-modal {
  font-family: "Rock Salt", cursive;
  width: 10%;
  float: left;
  text-align: center;
  height: 150px;
  margin-top: 50px;
}

.closeButton:hover {
  cursor: pointer;
  color: #eb4a1a;
}

@media screen and (max-width: 1400px) {
  .subpage-content {
    width: 35%;
  }
}
@media screen and (max-width: 1200px) {
  .subpage-content {
    width: 40%;
  }
}
@media screen and (max-width: 990px) {
  .subpage-content {
    width: 55%;
    top: 70vh;
  }

  .subpage-banner {
    height: 70vh;
  }

  .subpage-overlay {
    height: 70vh;
  }
}
@media screen and (max-width: 700px) {
  .subpage-content {
    width: 60%;
    top: 70vh;
  }
}
@media screen and (max-width: 600px) {
  .subpage-content {
    width: 80%;
    top: 45vh;
  }

  .subpage-banner {
    height: 100vh;
  }

  .subpage-overlay {
    height: 100vh;
  }
}
@media screen and (max-width: 500px) {
  .subpage-content h1 {
    font-size: 2em;
  }

  .subpage-content h5 {
    font-size: 1em;
  }

  .subpage-content {
    top: 50vh;
  }
}
@media screen and (max-width: 400px) {
  .subpage-content h1 {
    font-size: 1.75em;
  }

  .subpage-content h5 {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 300px) {
  .subpage-content h1 {
    font-size: 1.75em;
  }

  .subpage-content h5 {
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 850px) and (orientation: landscape) {
  .subpage-content {
    width: 80%;
    top: 45vh;
  }

  .subpage-banner {
    height: 100vh;
  }

  .subpage-overlay {
    height: 100vh;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .subpage-content {
    width: 65%;
    top: 100%;
  }
}
@media screen and (max-width: 568px) and (orientation: portrait) {
  .subpage-banner {
    height: 100vh;
  }

  .subpage-overlay {
    height: 100vh;
  }

  .subpage-content {
    top: 50%;
    width: 75%;
  }

  .subpage-content h1 {
    font-size: 2.5em;
    line-height: 400%;
  }

  .subpage-content h5 {
    padding-top: 25%;
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
  .subpage-content {
    width: 80%;
  }

  .subpage-content h1 {
    font-size: 2.25em;
  }

  .subpage-content h5 {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 990px) {
  .menu-buttons div {
    top: 8vh;
  }
}
@media screen and (max-width: 865px) {
  #m-lunch, #m-dinner, #m-happyhour {
    margin-bottom: 5%;
  }

  #m-dinner {
    margin-bottom: 500px;
  }

  .menu-buttons :first-child {
    margin-left: 0%;
  }

  .menu-buttons div {
    top: 4vh;
    width: 100%;
    background-color: #555454;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    margin-top: 0%;
    color: white;
  }

  #happy-hour-button {
    border-right: none;
    border-left: none;
  }

  .menu-items h4 {
    margin-top: 10%;
  }

  .menu-items div {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  #m-lunch, #m-dinner, #m-happyhour {
    margin-bottom: 10%;
  }

  .menu-buttons h3 {
    font-size: 1.5em;
    background-color: gray;
    color: white;
  }

  .menu-buttons div h3 {
    line-height: 3em;
  }

  .menu-buttons {
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 500px) and (orientation: portrait) {
  .menu-buttons h3 {
    font-size: 1em;
  }

  .menu-buttons div h3 {
    line-height: 2em;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .menu-items h4 {
    margin-top: 10%;
    background-color: orange;
  }

  .menu-items div {
    width: 95%;
    margin: auto;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) and (orientation: portrait) {
  .menu-items h4 {
    margin-top: 10%;
    background-color: orange;
  }

  .menu-items div {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  #m-lunch, #m-dinner, #m-happyhour {
    margin-bottom: 10%;
  }

  .menu-buttons h3 {
    font-size: 1.5em;
    background-color: gray;
    color: white;
  }

  .menu-buttons div h3 {
    line-height: 3em;
  }

  .menu-buttons {
    margin-bottom: 10%;
  }
}

/*# sourceMappingURL=master-stylesheet.css.map */
