.subpage-content h1, .home-aboutus h2 {
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  position: relative;
  left: 35%;
  color: white;
  line-height: 300%;
  width: 30%;
  text-align: center;
}

.fab:hover {
  padding: 5px;
  color: #eb4a1a;
  cursor: pointer;
}

body, html {
  font-family: "Julius Sans One", "sans-serif";
  color: black;
  background-color: #faf5ed;
  font-size: 12pt;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.1em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
}

.content-container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.navbar {
  min-height: 50px !important;
}

.navbar a:hover {
  color: #eb4a1a !important;
}

.navbar span {
  color: gray;
}

.navbar-brand {
  height: 50px !important;
}

.hd-ft-bar {
  background-color: black;
  color: white;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  overflow: hidden;
  clear: both;
}

.navbar img {
  margin-left: 10%;
  width: 100px;
  position: relative;
  z-index: 2;
}

header .nav-link span {
  font-size: 8pt;
}

header .nav-link {
  letter-spacing: 8px;
}

header .hd-ft-bar span {
  font-size: 8pt;
  color: #eb4a1a;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-nav {
  margin-left: 15%;
}

.hdBarFadeIn {
  animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.landing-header {
  width: 40%;
  position: relative;
  margin: auto;
  top: 5%;
  text-align: center;
  color: white;
  height: 80vh;
}

.landing-headline {
  font-size: 7vw;
  font-size: 6.5vh;
}

.landing-subtext {
  margin: auto;
  font-size: 3vw;
  font-size: 3vh;
  width: 75%;
  margin-top: 2em;
}

.landing-subtext span {
  color: #eb4a1a;
}

.landing-headline span {
  color: #eb4a1a;
}

.landing-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 110vh;
  background-color: black;
  z-index: 1;
}

.landing-image.overlay {
  background: black;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: table;
  width: 100vw;
  height: 110vh;
}

@keyframes indexLandingTransition {
  0% {
    background-image: url("../images/group-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  33% {
    background-image: url("../images/group-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  66% {
    background-image: url("../images/group-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  100% {
    background-image: url("../images/group-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.landing-image .overlay {
  animation-name: indexLandingTransition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

.home-aboutus {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

.home-aboutus h2 {
  color: black;
  border-color: #eb4a1a;
  border-width: 1px;
}

.aboutus-wrapper {
  margin-top: 5%;
  width: 90%;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
  margin-bottom: 10%;
  float: left;
  margin-left: 5%;
  overflow: hidden;
}

.panel {
  text-align: center;
}

.panel p {
  margin-top: 25%;
  width: 70%;
  margin-left: 15%;
  line-height: 2em;
}

.left-side {
  width: 25%;
  float: left;
  transform: translateX(-100%);
  transition: transform 1s ease-in;
}

.left-side-new {
  transform: translateX(0);
}

.right-side {
  width: 25%;
  float: left;
  transform: translateX(100%);
  transition: transform 1s ease-in;
}

.right-side-new {
  transform: translateX(0);
}

.middle {
  width: 50%;
  float: left;
}

.overlay-about {
  width: 90%;
}

.overlay-header {
  position: relative;
  background-color: #eb4a1a;
  width: 100%;
  height: 350px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.5s;
  transition-duration: 3.5s;
  margin-top: 1%;
  margin-bottom: 1%;
}

.overlay-border {
  border: solid 0.5px white;
  width: 90%;
  height: 80%;
  position: relative;
  margin: auto;
  top: 10%;
}

.overlay-hidden-border {
  border: solid 25px #eb4a1a;
  border-radius: 50px;
  width: 102%;
  height: 104%;
  position: absolute;
  margin: auto;
  top: -5px;
  left: -5px;
}

.overlay-header h5 {
  text-align: center;
  letter-spacing: 6pt;
  position: relative;
  top: 50%;
}

.disappear {
  opacity: 0;
}

.image1 {
  width: 100%;
  background-image: url("../images/sushi11.jpg");
  background-size: 100% 100%;
}

.image2 {
  width: 100%;
  background-image: url("../images/bar.jpg");
  background-size: 100% 100%;
}

.image3 {
  width: 100%;
  background-image: url("../images/sushi7.jpg");
  background-size: 100% 100%;
}

.image3 h5 {
  letter-spacing: 2pt;
}

.image4 {
  width: 100%;
  background-image: url("../images/dinner2.jpg");
  background-size: 100% 100%;
}

footer {
  clear: both;
  width: 100%;
}

footer .hd-ft-bar {
  padding-bottom: 20px;
}

.social-media {
  width: 30%;
  float: left;
}

.copyright {
  width: 40%;
  float: left;
  text-align: center;
  padding-left: 3%;
}

.fab {
  margin-left: 5%;
  align-content: right;
  width: 50px;
}

#hand-print img {
  width: 25px;
  float: right;
  margin-right: 45%;
  margin-top: 5px;
  transition-duration: 1.5s;
}

#hand-print img:hover {
  width: 30px;
}

#created {
  width: 10%;
  float: left;
  text-align: right;
}

#hand-print {
  width: 10%;
  float: left;
}

@media screen and (max-width: 1159px) and (min-width: 901px) {
  header .nav-link {
    letter-spacing: 6px;
  }

  header .hd-ft-bar span {
    padding-left: 8%;
    padding-right: 8%;
  }

  .navbar-nav {
    margin-left: 0%;
  }
}
@media screen and (max-width: 991px) and (min-width: 0px) {
  header .hd-ft-bar {
    display: none;
  }

  #navbarTogglerDemo02 {
    height: 100vh;
    margin-top: 10%;
  }

  .nav-link span {
    display: none;
  }

  .nav-link {
    text-align: center;
    margin-right: 15%;
    line-height: 300%;
  }
}
@media screen and (max-width: 960px) and (min-width: 650px) {
  .landing-header {
    width: 60%;
  }

  .landing-headline {
    font-size: 5.5vw;
    padding-top: 1em;
    font-size: 6.5vh;
  }

  .landing-subtext {
    font-size: 2vw;
    margin-top: 3em;
  }
}
@media screen and (max-width: 649px) and (min-width: 480px) {
  .landing-header {
    width: 70%;
  }

  .landing-headline {
    font-size: 20pt;
    padding-top: 2em;
    font-size: 4.5vh;
  }

  .landing-subtext {
    font-size: 12pt;
    margin-top: 6em;
  }
}
@media screen and (max-width: 479px) and (min-width: 0px) {
  .landing-header {
    width: 80%;
  }

  .landing-headline {
    font-size: 20pt;
    padding-top: 2em;
    font-size: 4.5vh;
  }

  .landing-subtext {
    font-size: 12pt;
    margin-top: 4em;
  }
}
@media screen and (max-width: 1159px) and (min-width: 901px) {
  .home-aboutus h2 {
    font-size: 25pt;
    letter-spacing: 8px;
    line-height: 3em;
  }

  .middle {
    width: 70%;
    margin-left: 15%;
  }

  .overlay-about {
    width: 100%;
  }

  .overlay-about h2 {
    font-size: 4vw;
  }

  .overlay-about span {
    font-size: 5vw;
  }

  .image3 h2 {
    font-size: 3.5vw;
  }

  .image3 span {
    font-size: 4vw;
  }

  .image4 h2 {
    font-size: 3.75vw;
  }

  .image4 span {
    font-size: 4.25vw;
  }

  .left-side-new {
    display: none;
  }

  .right-side-new {
    display: none;
  }

  .panel p {
    display: none;
  }
}
@media screen and (max-width: 900px) and (min-width: 0px) {
  .home-aboutus h2 {
    font-size: 25pt;
    letter-spacing: 8px;
    line-height: 3em;
  }

  .middle {
    width: 100%;
    margin-left: 0%;
  }

  .overlay-about {
    width: 100%;
  }

  .overlay-about span {
    font-size: 6vw;
  }
}
@media screen and (max-width: 1160px) and (min-width: 0px) {
  .left-side-new {
    display: none;
  }

  .right-side-new {
    display: none;
  }

  .panel p {
    display: none;
  }
}
@media screen and (max-width: 480px) and (min-width: 0px) {
  .overlay-header h3 {
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    line-height: 150px;
    position: relative;
    top: 30%;
    width: 60%;
    left: 20%;
    text-align: center;
    letter-spacing: 6pt;
  }

  .aboutus-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .overlay-about {
    height: 100vh;
    width: 100vw;
  }

  .overlay-header {
    height: 100vh;
    width: 100vw;
  }

  .image1 {
    background-image: url("../images/mediasushi1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image2 {
    background-image: url("../images/mediabar1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image3 {
    background-image: url("../images/mediasushi2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image4 {
    background-image: url("../images/mediadinner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 999px) and (min-width: 550px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 120px;
  }

  .social-media {
    width: 100%;
    float: left;
  }

  .copyright {
    line-height: 0px;
    width: 100%;
  }

  .fab {
    margin-left: 0%;
  }

  #created {
    width: 55%;
    line-height: 0px;
    padding-top: 10px;
  }

  #hand-print {
    width: 45%;
    padding-right: 35%;
    line-height: 0px;
    position: relative;
    top: -5px;
  }
}
@media screen and (max-width: 549px) and (min-width: 0px) {
  footer .hd-ft-bar {
    font-size: 10pt;
    padding-bottom: 150px;
  }

  .social-media {
    width: 100%;
    float: left;
  }

  .copyright {
    line-height: 20px;
    width: 100%;
  }

  .fab {
    margin-left: 0%;
  }

  #created {
    width: 55%;
    line-height: 0px;
    padding-top: 10px;
  }

  #hand-print {
    width: 45%;
    padding-right: 25%;
    line-height: 0px;
    position: relative;
    top: -5px;
  }
}
.subpage-content img:first-child {
  width: 100%;
  height: 65vh;
}

.subpage-overlay {
  height: 65vh;
  position: relative;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  display: table;
}

.subpage-content {
  margin-top: -65vh;
}

.subpage-content h1 {
  top: -50vh;
}

.subpage-content h2 {
  line-height: 200%;
}

.subpage-content h5 {
  text-align: center;
  position: relative;
  top: -45vh;
  color: white;
}

.location {
  text-align: center;
}

.location li {
  display: inline;
}

.location ul :nth-child(2n+2) {
  color: #eb4a1a;
}

.location ul {
  width: 30%;
  margin-left: 35%;
}

.map-details {
  height: 60vh;
  margin-bottom: 10%;
}

#map-slp {
  width: 80%;
  float: left;
  height: 100%;
  margin-left: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: #4d4a4a;
}

#map-edina {
  width: 80%;
  float: left;
  height: 100%;
  margin-left: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: #4d4a4a;
}

.location-header h3 {
  width: 45%;
  border-bottom: solid 1px #eb4a1a;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
}

.edina {
  margin-top: -100px;
}

.menu-buttons {
  position: relative;
  width: 100%;
  top: -150px;
}

.menu-buttons :first-child {
  margin-left: 3%;
}

.menu-buttons div {
  width: 30%;
  float: left;
  margin: 1%;
  text-align: center;
}

.menu-buttons div h3 {
  line-height: 2em;
}

#happy-hour-button {
  border-right: solid 1px #eb4a1a;
  border-left: solid 1px #eb4a1a;
}

.menu-buttons div h3:hover {
  color: #eb4a1a;
  cursor: pointer;
}

.menu-items {
  text-align: center;
}

.menu-items span {
  color: #eb4a1a;
  margin: 10px;
}

.menu-items h4 {
  margin-top: 2%;
  margin-bottom: 2%;
  border-bottom: solid 0.25px #eb4a1a;
  line-height: 80%;
  display: inline-block;
}

h5[role=close] {
  margin-top: 50px;
  margin-bottom: 50px;
}

h5[role=close] span {
  color: #eb4a1a;
}

h5[role=close]:hover {
  cursor: pointer;
  color: #eb4a1a;
}

.subpage-content img:first-child {
  width: 100%;
  height: 65vh;
}

.subpage-overlay {
  height: 65vh;
  position: relative;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  display: table;
}

.subpage-content {
  margin-top: -65vh;
}

.subpage-content h1 {
  top: -50vh;
}

.subpage-content h2 {
  line-height: 200%;
}

.subpage-content h5 {
  text-align: center;
  position: relative;
  top: -45vh;
  color: white;
}

.delivery-services {
  text-align: center;
}

.delivery-services img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 2%;
  min-height: 200px;
}

.delivery-services > div {
  margin-top: 5%;
  margin-bottom: 5%;
  border-top: solid white 2px;
  width: 40%;
  margin: auto;
}

.delivery-services > div:first-child {
  border-top: none;
}

.delivery-services a h4 {
  padding: 2%;
}

.delivery-services h4:hover {
  color: #eb4a1a;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .menu-buttons div {
    width: 100%;
    float: none;
    margin: none;
  }
}

/*# sourceMappingURL=master-stylesheet.css.map */
