// sass --watch master-stylesheet.scss master-stylesheet.css
//sass --watch .
$mainFont: 'Julius Sans One', 'sans-serif';
$bk: black;
$wht:white;
$beige:rgb(250, 245, 237);
$rkuRed: rgb(235, 74, 26);

%headerStyle{
    border-top: solid white 1px;
    border-bottom:solid white 1px;
    position: relative;
    margin:auto;
    color:$wht;
    line-height: 300%;
    text-align: center;
}

%iconHover{
    padding:5px;
    color:$rkuRed;
    cursor: pointer;
}
body, html{
    font-family:$mainFont;
    color:$bk;
    background-color:$beige;
    font-size: 12pt;
}

h1{
    font-size:3em;

}

h2{
    font-size:(3em*.9)

}

h3{
    font-size:(3em*.7)

}

h4{
    font-size:(3em*.6)

}

h5{
    font-size:(3em*.4)

}

.content-container{
    max-width: 1920px;
    margin:0 auto;
    width:100%
}

@import 'nav';
@import 'index-landing';
@import 'index-about';
@import 'footer';
@import 'nav-MS';
@import 'index-landing-MS';
@import 'index-about-MS';
@import 'footer-MS';
@import 'subpage-banner';
@import 'locations';
@import 'menu';
@import 'shell-file';
@import 'delivery';
//@import 'staff';
@import 'subpage-banner-MS';
@import 'locations-MS';
@import 'menu-MS';
@import 'delivery-MS';
//@import 'staff-MS';
