/* .test{
    width:100%;
    background-color:transparent;
    position:absolute;
    top:40px;
    z-index:2;
    color:white;

}

.test{
    width:100%;
    background-color:transparent;
    position:fixed;
    top:40px;
    z-index:2;
    color:white;

} */